[2013-10-11 20:34] ghost opened #99 "Editing session variables from tool bar"
Created by **[Predominant](https://github.com/predominant)**, 12th Dec 2009. _(originally [Lighthouse ticket #1](http://cakephp.lighthouseapp.com/projects/42880/tickets/1))_:

---

(Reported by: yandod)

the title said all. Now our toolbar is able to only view. But If we could modify session variables from tool bar.
It is useful for debuging.

[2013-10-11 20:34] lh-import opened #100 "SQL syntax highlight for SQL log panel"
Created by **[Predominant](https://github.com/predominant)**, 12th Dec 2009. *(originally [Lighthouse ticket #4](http://cakephp.lighthouseapp.com/projects/42880/tickets/4))*:
- - - -

(Reported by: ichikaway)

Hello.
I make SQL syntax highlight for SQL log panel. It's convenient to see SQL query.
I use GeSHi for syntax highlight.

(Source code diff)[http://thechaw.com/forks/ichikaway/debug_kit/com

[2013-10-11 20:34] ghost opened #101 "Session resets on refresh when Session.save is set to 'cache'"
Created by **[Kim Biesbjerg](https://github.com/biesbjerg)**, 19th Jan 2010. _(originally [Lighthouse ticket #17](http://cakephp.lighthouseapp.com/projects/42880/tickets/17))_:

---

Session resets on refresh when Session.save is set to 'cache'. This is also an issue on Cake 1.2.

core.php:

[code]

I have Session added to the AppController's components and helpers array.

If I write to the sessio

[2013-10-11 20:34] ghost opened #102 "SQL Log not displaying history results for redirected pages."
Created by **thatcode**, 3rd Sep 2010. _(originally [Lighthouse ticket #31](http://cakephp.lighthouseapp.com/projects/42880/tickets/31))_:

---

Hi.

I've tried to debug this and failed - tbh, I don't see why I don't always get this error...

When I use the history panel to display previous requests, and select a redirected request (I was trying to view a login request) I get an error: `Undefined

[2013-10-11 20:34] ghost opened #103 "Cake wont remove cake:nocache tags if Debugkit is loaded"
Created by **[Ber Clausen](https://github.com/bar)**, 16th Nov 2010. _(originally [Lighthouse ticket #34](http://cakephp.lighthouseapp.com/projects/42880/tickets/34))_:

---

I know cake:nocache tags removal is relaxed now.

It works by loading Cache helper

[code]

or enabling 'Cache.check'

[code]

But when you load DebugKit

[code]

[code]

tags are not removed.

[2013-10-11 20:34] ghost opened #104 "Config language set by debug kit"
Created by **teeman**, 18th Feb 2011. _(originally [Lighthouse ticket #41](http://cakephp.lighthouseapp.com/projects/42880/tickets/41))_:

---

In my beforeFilter method in the AppController, Config.language is already set.

Consider the following code:

[code]

above line gives with debug kit turned on (it's in the components array)
app/app_controller.php (line 32)

Array
(
    [language] => nl
)

[2013-10-11 20:34] ghost opened #105 "DebugKit doesn't close when render() is called twice"
Created by **Tomas Maly**, 20th Mar 2011. _(originally [Lighthouse ticket #43](http://cakephp.lighthouseapp.com/projects/42880/tickets/43))_:

---

DebugKit loads but doesn't shut it's bar when I call render("index", false) manually inside my view. (I know I should be using elements) It otherwise loads properly but views/debug.php::render() should not attempt to load the JS file when there's no la

[2013-10-11 20:34] ghost opened #106 "Add option to use ChromePHP instead of FirePHP in DebugKit"
Created by **Chris Cinelli**, 1st Aug 2011. _(originally [Lighthouse ticket #62](http://cakephp.lighthouseapp.com/projects/42880/tickets/62))_:

---

FirePHP extension for Firebug seems not to work anymore in Firebug 1.8. The author of FirePHP seems to go for the not-free route with the DeveloperCompanion (new FirePHP client side).
Someone implemented an extension for Google Chrome that is similar

[2013-10-11 20:34] ghost opened #107 "Upgrade FireCake to FirePHPCore 0.3.2"
Created by **Doug**, 14th Sep 2011. _(originally [Lighthouse ticket #67](http://cakephp.lighthouseapp.com/projects/42880/tickets/67))_:

---

I might be mistaken but it looks as though 0.3.2 means we can use FirePHP without modifying the agent header:
http://www.firephp.org/Wiki/Reference/FAQ

Which would mean that the session would stay valid even if we turn Firebug on and off:
http://cakephp.lig

[2013-10-11 20:34] lh-import opened #108 "RFC Make WhitespaceShell more flexible on folders to scan"
Created by **[Ceeram](https://github.com/ceeram)**, 6th Oct 2011. *(originally [Lighthouse ticket #68](http://cakephp.lighthouseapp.com/projects/42880/tickets/68))*:
- - - -

Currently the shell scans all folders in ROOT, i suggest it should default to APP, and accept --path parameter for alternative paths:

http://bin.cakephp.org/view/543892456

[2013-10-11 20:36] ghost opened #109 "DebugKit 2.0, urlencode warning on related named variables in pagination"
Created by **Matt**, 3rd Nov 2011. _(originally [Lighthouse ticket #78](http://cakephp.lighthouseapp.com/projects/42880/tickets/78))_:

---

DebugKit is generating a warning when paginating data with named parameters from related models.

[code]

This is the code that causes the warning:

[code]

And this is the value of $query that it is trying to use

[code]

Example: I have a table 'events' tha

[2013-10-11 20:36] ghost opened #110 "RFC: History Panel should "work" even with caching disabled in app"
Created by **[ADmad](https://github.com/ADmad)**, 9th Dec 2011. _(originally [Lighthouse ticket #85](http://cakephp.lighthouseapp.com/projects/42880/tickets/85))_:

---

During development there are many times when one disables cache to check things (or simply keep it disabled while developing). But with cache disabled ToolbarComponent::_createCacheConfig() bails out on creating the cache config n

[2013-10-11 20:36] lh-import opened #111 "Debug trace in log file"
Created by **Roman**, 18th Jan 2012. *(originally [Lighthouse ticket #87](http://cakephp.lighthouseapp.com/projects/42880/tickets/87))*:
- - - -

it would be very helpfull especialy if you are using *REST services* or you have some problem on production servers and you can not switch on debug on the view to *redirect* all debug information (Configure::read('debug') > 0) into some log file (the bes

[2013-10-11 20:36] ghost opened #112 "Javascript as jQuery plugin"
Created by **Kamisama**, 22nd Aug 2012. _(originally [Lighthouse ticket #102](http://cakephp.lighthouseapp.com/projects/42880/tickets/102))_:

---

There's some javascript code in the `history_panel.ctp` and `sqllog_panel.ctp`.

Isn't it better to put them all in js_debug_toolbar.js, and convert the javascript code into a jquery plugin ? That way, it would be compatible with AMD.

[2013-10-11 20:36] ghost opened #113 "FirePHP messages are not sent in response if using Json/XmlView with serialization"
Created by **[ADmad](https://github.com/ADmad)**, 26th Sep 2012. _(originally [Lighthouse ticket #107](http://cakephp.lighthouseapp.com/projects/42880/tickets/107))_:

---

Adding relevant debug info to response is initiated through Toolbar helper's afterLayout() callback. But since helpers are not loaded at all when using serialization you don't get any FirePHP headers.

[2013-10-11 20:36] lh-import opened #114 "Re-add HTML comments around view files."
Created by **[Mark Story](https://github.com/markstory)**, 9th Nov 2012. _(originally [Lighthouse ticket #109](http://cakephp.lighthouseapp.com/projects/42880/tickets/109))_:

---

Following the discussion on https://github.com/cakephp/debug_kit/commit/4092a0e93bff8511b79c592d1533b946ea09c105 the HTML comments giving file paths for elements/views/layouts should be re-added _only_ when the output f

[2013-10-11 20:36] ghost opened #115 "Undefined offset: 1 [CORE/Cake/View/Helper/HtmlHelper.php, line 851]"
Created by **Gianni iacono**, 12th Nov 2012. _(originally [Lighthouse ticket #110](http://cakephp.lighthouseapp.com/projects/42880/tickets/110))_:

---

You receive this notice if $query['params'] is an empty array.

We resolve the problems in this way:
inside the file ToolbarHelper.php at line 158 insert

if (!$query['params']) {
 $query['params'] = null;
}

It appears working good.

Gianni Iacon

[2013-10-11 20:36] ghost opened #116 "view variables set in Controller::beforeRender() not showing in DebugKit Toolbar"
Created by **techlands**, 9th Dec 2012. _(originally [Lighthouse ticket #112](http://cakephp.lighthouseapp.com/projects/42880/tickets/112))_:

---

I'm not sure if this is a bug or a feature request.

I notice view variables or any model queries in Controller::beforeRender  are not showing in the DebugKit Toolbar Variables/SqlLog tabs.

I'm guessing this is the case because Controller::beforeRende

[2013-10-11 20:36] ghost opened #117 "DebugKit Toolbar : #</body># matching pattern / last occurence"
Created by **Alpha33fr**, 15th Dec 2012. _(originally [Lighthouse ticket #113](http://cakephp.lighthouseapp.com/projects/42880/tickets/113))_:

---

DebugKit.Toolbar loads itself before the matching closing tag `</body>`.

[code]

But what happens when our view output contains `</body>` ?

For example (inline javascript) :

[code]

Output will be altered at the wrong place...
I didn't find any oth

[2013-10-11 20:36] ghost opened #118 "history_state view output mangled"
Created by **Vanja D**, 7th Feb 2013. _(originally [Lighthouse ticket #115](http://cakephp.lighthouseapp.com/projects/42880/tickets/115))_:

---

While using History tab, I am constantly getting "History retrieval failed" alert.

The XHR response of the request /debug_kit/toolbar_access/history_state/1 outputs (repeatedly):

Notice (8): Undefined index: elementName [APP/Plugin/DebugKit/View/Toolba

[2013-10-11 20:36] ghost opened #119 "When memcache handles sessions, history panel prevents loading"
Created by **WBP-Tomh**, 15th Apr 2013. _(originally [Lighthouse ticket #120](http://cakephp.lighthouseapp.com/projects/42880/tickets/120))_:

---

When using Memcache for sessions and using file or Memcache for Debug Kit, the history panel prevents the app from fully loading.  Setting the component 'DebugKit.Toolbar' => array('panels' =>array('history'=>false))) allows the app to load.

Could thi

[2013-10-11 20:36] ghost opened #120 "Ajax and Debugger Kit"
Created by **Sam**, 17th May 2013. _(originally [Lighthouse ticket #125](http://cakephp.lighthouseapp.com/projects/42880/tickets/125))_:

---

Hi,

I am trying to use the debugger kit on an application (running correctly) but it always shows as "Request" in the DebuggerKit , for section Cake Params:

[code]

So I have for controller and action always the pair (home,index).
So I investigated and th

[2013-10-11 20:36] ghost opened #121 "DebugKit toolbar for cakePHP wasn't installed properly"
Created by **Choudhury Saadmaan Mahmid**, 2nd Sep 2013. _(originally [Lighthouse ticket #132](http://cakephp.lighthouseapp.com/projects/42880/tickets/132))_:

---

I tried to install DebugKit for cakePHP and here's how I did it: first of all I downloaded a zip file of the debug_master_kit from github, then I created a folder named DebugKit in app\Plugin directory. Then I set debug mode to 1 in cor

[2013-10-11 20:36] ghost opened #122 "DebugKit not working Cake 2.4.1"
Created by **Daniel Cortes**, 27th Sep 2013. _(originally [Lighthouse ticket #135](http://cakephp.lighthouseapp.com/projects/42880/tickets/135))_:

---

I've been trying to install DebugKit and I can't get it to work. I've followed all the instructions provided by DebugKit in ther github repository. Here are the steps I followed:
1. Install CakePHP and check installation.
2. Download the latest De

[2013-10-27 20:24] #122 closed, assigned to nobody

[2013-10-27 20:25] #121 closed, assigned to nobody

[2013-10-27 20:54] #101 closed, assigned to nobody

[2013-11-03 21:52] #118 closed, assigned to nobody

[2013-11-03 21:54] #115 closed, assigned to nobody

[2013-11-28 01:06] voycey opened #131 "DebugKit kills Jquery on site when enabled"
So I have finally got around to upgrading to 2.4.3 today, Have been using DebugKit without problems on 2.3.1 for a year now! So I uninstalled DebugKit - upgraded to 2.4.3 and re-installed the latest Debugkit from here - now I get a whole load of:

Uncaught TypeError: Property '$' of object [object Object] is not a function

In Chrome console when viewing any page on my site that has JQuery on it a

[2013-11-28 01:29] #131 closed, assigned to nobody

[2013-11-28 13:42] feixueyaochen opened #132 "Missing Component"
Error: DebugKit.ToolbarComponent could not be found.

Error: Create the class ToolbarComponent below in file: D:\AppServ\www\cakephp\app\Plugin\DebugKit\Controller\Component\ToolbarComponent.php

[2013-11-28 14:31] #132 closed, assigned to nobody

[2013-12-15 05:39] ryan-durbin opened #134 "Fatal error: Function name must be a string in ToolbarComponent.php on line 192"
Hey guys, so here's what I got going on.  This server has no other installations of cakephp.  This is a fresh install.

Installed cakephp,
Followed the installation in the readme.
I've even checked that the $prefix in core.php is uniqu by changing it.

When I browse to the app I get this:

Fatal error: Function name must be a string in /home/allthedu/public_html/allthedurbin.com/app/Plugin/DebugKi

[2013-12-16 01:14] #134 closed, assigned to nobody

[2013-12-30 14:40] ionas opened #135 "CRUD / Memory Exhaust"
When using latest Cake (2.4.4) and latest Debug Kit (Master), I get this error:

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 130968 bytes) in /var/www/atman/app/Plugin/DebugKit/View/Helper/HtmlToolbarHelper.php on line 94

Details of my configuration: http://bin.cakephp.org/saved/113376

When using DebugKit 2.2.1 - I get no error.

[2014-01-02 16:03] mesr opened #138 "Activating Toolbar Component Causes Segmentation Fault Or NotFoundException"
Since CakePHP 2.4.3, adding the `DebugKit.Toolbar` component to a controller in my dev environment produces a PHP segmentation fault (as logged in `/var/log/apache2/error.log`) and a connection reset on the client (Firefox), unless CakePHP debug level is set to 0 (i.e. `Configure::write('debug', 0)` in `app/Config/core.php`), in which case the script doesn't crash and CakePHP returns the following

[2014-01-19 02:58] jhnlsn opened #140 "Sql Log "explain" link hashing problem"
When clicking on the explain link, the hash generated and sent in the post request does not match the generated hash on the sql_explain controller action and causing it to fail with a Invalid parameters exception every time the "explain" link is clicked.  Have not been able to track down the root of the problem yet.

[2014-01-19 16:24] #109 closed, assigned to nobody

[2014-01-19 16:25] #120 closed, assigned to nobody

[2014-01-19 16:26] #99 closed, assigned to nobody

[2014-01-22 08:01] flashios09 opened #141 "debug "ajax request" on chrome with debugkit"
Hi,

debugkit helps me a lot
thanks for all of you :)

but i can't debug the "ajax request" :(

what i have to do ?

i'm using google chrome

thanks

[2014-01-22 09:01] #141 closed, assigned to nobody

[2014-01-25 18:53] ldulrich opened #142 "Parse error: syntax error, unexpected T_FUNCTION in ToolBarComponent"
I have tried to install DebugKit on two separate sites and I have had the same problem both times.

Below is the exact error:
Parse error: syntax error, unexpected T_FUNCTION in /home2/regentsr/public_html/app/Plugin/DebugKit/Controller/Component/ToolbarComponent.php on line 179

My PHP version is: 5.4.24
Cake version 2.4.4 (downloaded 30 minutes ago)
DebugKit downloaded from: https://github.com/c

[2014-01-25 19:38] #142 closed, assigned to nobody

[2014-01-29 23:38] jshthornton opened #143 "Variables set in beforeRender are not displayed in toolbar"
As the title suggests, when you use '$this->set()' in beforeRender the variables is of course set and working, however is not listed in the variables pane.

[2014-01-30 01:32] #143 closed, assigned to nobody

[2014-01-31 01:18] Revold1985 opened #144 "Could not load class DebugKitLogListenerLog"
Hi,

I cant get Debug to work, I'm using Netbeans and the URL_rewrite is active.

I've read all over the place but I never saw this message...
Could not load class DebugKitLogListenerLog

Stack Trace
CORE\Cake\Log\LogEngineCollection.php line 40 → LogEngineCollection::_getLogger(string)
CORE\Cake\Log\CakeLog.php line 198 → LogEngineCollection->load(string, array)
APP\Plugin\DebugKit\Lib\Panel\LogP

[2014-02-05 15:43] Joucke opened #145 "ToolbarHelperTestCase not passing tests"
CakePHP 2.4.5
Fresh download of debug_kit

FAILED
Failed asserting that false is true.
Test case: ToolbarHelperTestCase(testGetQueryLogs)
### /app/Plugin/DebugKit/Test/Case/View/Helper/ToolbarHelperTest.php : 156

ToolbarHelperTestCase::testGetQueryLogs
5/5 test methods complete: 4 passes, 1 fails, 12 assertions and 0 exceptions.

line 156 is

[code]

on var_dumping $result, this is its contents:

[2014-02-06 09:17] choyno opened #148 "sql log not diplaying in cakephp 2.4.5"

[2014-02-06 12:41] #148 closed, assigned to nobody

[2014-02-06 18:59] #145 closed, assigned to nobody

[2014-02-21 17:46] Codaxis opened #150 "History state requests fail"
Working with master, when trying to load history state I'm getting the "History retrieval" error. It's caused because of Cake trying to load the history_state.ctp view from View/ToolbarAccess/json folder, when it's located in View/ToolbarAccess folder. RequestHandler is properly marking the request as "json". Might I be missing any configuration?

[2014-02-22 21:06] #144 closed, assigned to nobody

[2014-02-28 10:11] sreepati opened #151 "debug kit display error in firefox"
![debug-kit-chrome](https://f.cloud.github.com/assets/6230135/2292796/e0518b08-a05f-11e3-9318-8be6195831fe.JPG)
![debug-kit-firefox](https://f.cloud.github.com/assets/6230135/2292798/e55abc32-a05f-11e3-8329-77c778c18fe6.JPG)

I'm unable to find the error an solve it. Debug kit works fine in chrome but in Firefox it shows error and its toolbar is not working.
I've followed all the installation proc

[2014-03-19 11:04] #151 closed, assigned to nobody

[2014-03-27 23:19] graftedin opened #159 "DebugKit Requires PHP 5.3"
The current version of Cake requires PHP 5.2.8 but the default debug tool requires PHP 5.3 which basically makes the required version PHP for Cake 5.3 also.  Why did you do this?!  Is there a way to make DebugKit work in php 5.2.8?  Or is there an alternative debugging tool?

[2014-03-28 00:57] #159 closed, assigned to nobody

[2014-04-01 20:04] dvdbrln opened #160 "Bug when using with Croogo ?"
Hello, I just installed DebugKit in a Croogo1.5.5 (a powerful cakephp cms, as you might know ;-)

It works great, but it appears also to non-logged-in visitors, what I find quite dangerous...

Is it a normal behaviour or is it specific to being used within Croogo ?
Is there a way to make it appear only to administrators ?

Thanks in advance !

DvDbrln

[2014-04-01 20:24] #160 closed, assigned to nobody

[2014-04-16 01:52] #135 closed, assigned to nobody

[2014-04-16 01:54] #106 closed, assigned to nobody

[2014-04-16 01:54] #119 closed, assigned to nobody

[2014-04-16 01:55] #138 closed, assigned to nobody

[2014-04-18 05:06] 2707sheena opened #163 "General error: 1364 Field 'controller' doesn't have a default value"

[2014-04-18 15:09] #163 closed, assigned to nobody

[2014-05-04 03:00] MsPseudolus opened #166 "Error: ToolbarComponent could not be found. Error: Create the class ToolbarComponent below in file: app/Controller/Component/ToolbarComponent.php"
Hi. Perplexed by this error. PHP 5.3.3 and Cake 2.2.3.

Here's the full error:

[code]

What I did:
Unzipped the debug_kit-master.zip into Plugin/DebugKit.

bootstrap.php - uncommented `CakePlugin::load('DebugKit');`

core.php -  `Configure::write('debug',1 );`

composer.json looks like this - but I also got the error when not including the  `"cake/php/debug_kit": 2.2.*"`   line:

[code]

The   To

[2014-05-07 18:33] cyber-fly opened #167 "Error in tab timer"
Hello guys, I'm having problems in timer tab, the following error is occurring:

Warning (512): Method NumberHelper::toReadableSize does not exist [CORE\Cake\View\Helper.php, line 192]

Warning (512): Method NumberHelper::precision does not exist [CORE\Cake\View\Helper.php, line 192]

The NumberHelper being loaded from my application, I believe it should be the Core of Cake. Sorry for my english.

[2014-05-08 16:12] #167 closed, assigned to nobody

[2014-05-11 02:26] #150 closed, assigned to markstory

[2014-05-11 03:37] #140 closed, assigned to nobody

[2014-05-23 08:43] bancer opened #170 "Missing log file"
I am not sure if it is a bug or it was intended to be this way but when I try to write into a log file that is not configured in the bootstrap.php then no record is created. For example: `$this->log("i am not logged to file", "test_log");`. But it is logged if the debug kit is turned off or when the debug level is 0. Quite annoying.

Though the log records are always displayed in the debug kit log

[2014-05-23 15:14] #170 closed, assigned to nobody

[2014-05-26 08:40] rbweb123 opened #171 "debug kit is not showing all query log"
I am using debug kit but it's not displaying all sql log queries. I think it's generated from PDO class.
Please help for solving

[2014-05-26 12:50] #171 closed, assigned to nobody

[2014-05-28 17:31] piyushchauhan2011 opened #173 "DebugKit and Cakephp 3.0.0.dev3 branch"
Fatal Error
Error: Class 'App' not found
File /home/piyush/cakephp-test/app/Plugin/DebugKit/Controller/Component/ToolbarComponent.php
Line: 16

Notice: If you want to customize this error message, create App/Template/Error/fatal_error.ctp

Is DebugKit compatible with Cakephp 3 ??

[2014-05-28 18:57] #173 closed, assigned to nobody

[2014-06-05 20:58] MickyRamirez opened #174 "I get an error with my debug_kit"
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 82 bytes) in /var/www/cake/app/Plugin/DebugKit/Controller/Component/ToolbarComponent.php on line 497

what's the meaning of this and what can i do???please!

[2014-06-06 01:40] #174 closed, assigned to nobody

[2014-06-06 15:32] jeremykendall opened #175 "Composer install succeeds but does not install the toolkit"
I attempted to follow the Composer installation instructions this morning.  `composer install` ran without errors, but the plugin was not installed to `app/Plugin`.

Environment info:
- Vagrant VM built from puphpet
- box: `puphpet/debian75-x64`
- Cake version: 2.4.3

PHP version:

[code]

Composer version:

[code]

`composer.json:`

[code]

Installation results:

[code]

Missing DebugKit:

[code]

[2014-06-10 12:55] #175 closed, assigned to nobody

[2014-06-15 01:53] #166 closed, assigned to nobody

[2014-06-24 20:33] choma opened #177 "Synchronous XMLHttpRequest on the main thread is deprecated"
I'm getting a warning in firefox (in fact, it is Iceweasel 32.0a2):

[code]

The problem (if it is) seems to be in js_debug_toolbar.js, line 71:

[code]

[2014-06-26 22:56] dereuromark opened #179 "Make toolbar relevant timer bars light grey"
It would be nice if timer bars, that are caused by the toolbar itself, would show up as "light green", so are not as visible as the rest of the bars.

E.g. "processing toolbar data"

![timer](https://cloud.githubusercontent.com/assets/39854/3405940/f3212a4a-fd84-11e3-9590-86e9f39d8aad.png)

If that can be decided - which I think it can.

[2014-07-14 12:26] itrufeng opened #182 "Warning No active database connections"
I have install pdo_mysql and enable.
I have install debugkit with https://github.com/cakephp/debug_kit#installation

But...

Click Sql Logs show
"Warning No active database connections"
....

[code]

[2014-07-24 13:27] wvdongen opened #184 "FirePHP log default collapsed"
All firePHP DebugKit message groups are currently automatically expanded (tested it in Firefox and Chrome). I see that DebugKit sets the firePHP setting "collapsed=true", however the groups are not collapsed. The auto-expanded log can be annoying when you want to use the javascript console or have many ajax requests.

[2014-07-24 15:12] #184 closed, assigned to nobody

[2014-07-31 13:52] davidyell opened #186 "Support for 'FoC/app-template'"
So I recently updated one of my projects to require the framework using Composer.

Now DebugKit seems to load, but I do not get a tab displaying on the front-end.

[2014-07-31 13:55] #186 closed, assigned to nobody

[2014-08-01 16:28] markstory opened #188 "Idea for future DebugKit."
The current debug kit does a bunch of things right, but has a few short comings that are hard to address in the current design:
- DebugKit is slow - generating the HTML for the toolbar in the originating request is not fast, and DebugKit bloats every request with mountains of HTML.
- DebugKit is easily disrupted by the host page CSS - Having DebugKit on the host page means it is difficult to deliv

[2014-08-01 16:29] #107 closed, assigned to nobody

[2014-08-01 16:29] #103 closed, assigned to nobody

[2014-08-01 16:30] #112 closed, assigned to nobody

[2014-08-01 16:30] #113 closed, assigned to nobody

[2014-08-05 09:16] WeiGege opened #190 "Fatal error: Class 'DebugMemory' not found in D:\wamp\www\blog\app\Plugin\DebugKit\Controller\Component\ToolbarComponent.php on line 159"
Fatal error: Class 'DebugMemory' not found in D:\wamp\www\blog\app\Plugin\DebugKit\Controller\Component\ToolbarComponent.php on line 159

can't find the class DebugMemory when call
$this->controller->getEventManager()->attach($this);

DebugMemory::record(__d('debug_kit', 'Component initialization'));

$this->cacheKey .= $this->Session->read('Config.userAgent');

how to solve?tanks

[2014-08-05 12:11] #190 closed, assigned to nobody

[2014-08-06 22:14] cielo2 opened #193 "Fail to install debugkit in cakephp 3.0"
now, in 3.0 i try to install debugkit, ..
after install cakephp 3.0 and debugkit 3.0 with composert, it fail with:
Error: Create the class ToolbarComponent below in file: /usr/home/vhost/cakephp.d-zone/app/plugins/DebugKit//Controller/Component/ToolbarComponent.php

I think that the two slashes in the path, between Debugkit and Controller
the same think i have with other plugins too...

The log:
2

[2014-08-07 00:24] #193 closed, assigned to nobody

[2014-08-07 12:13] shaggybb opened #194 "debug_kit's assets are not loaded when it is loaded dynamically"
Hello,

After updating Cakephp and DebugKit to the last stable versions, my app is not able to load DebugKit's assets:

[code]

To put us in context, the App tries to load DebugKit if it accomplish a condition in  AppController::startupProcess, instead of loading it the bootstrap.php file due to performance reasons.

Here the code:

[code]

As note, using cakephp 2.4.X and debug_kit 2.2.2 it works

[2014-08-07 14:43] #194 closed, assigned to nobody

[2014-08-23 15:37] davidyell opened #202 "3.0 Composer installing into wrong folder"
I just thought that I would give the 3.0 branch a go and have found that it is installing into `plugins/DebugKit/Test/Fixture`. Which then throws a warning because it cannot load the bootstrap file.

I've tried clearing my composer cache, removing the folder, deleting my lock file and installing it fresh, both from changing `composer.json` and using `composer require`.

Hopefully it's just a small

[2014-08-24 07:08] #202 closed, assigned to nobody

[2014-08-28 09:02] bigasbespip opened #206 "Config Item DebugKit.panels Not being used"
I am attempting to create a panel for a plugin in cakephp 3.0. I am using the documentation in the read me, and the config item DebugKit.panels does not appear to exist.

I get the error that it is not an array if I use the example code:
Configure::write(
    'DebugKit.panels',
    array_merge(Configure::read('DebugKit.panels'), ['MyCustomPanel'])
);

and if I explicitly set it with

Configure::wr

[2014-08-31 12:41] lorenzo opened #212 "New color for the toolbar"
Metallic colors for web apps are not in vogue anymore, I played a bit with the toolbar to give it a more mobile device feeling. Please don;t hang me it I made a completely horrible color choice, but something shinier is what I'm after:

![screen shot 2014-08-31 at 14 37 38](https://cloud.githubusercontent.com/assets/37621/4101923/d5d40736-310b-11e4-9783-ee30beef997f.png)

The color code is #49CEC1

[2014-08-31 16:31] #212 closed, assigned to nobody

[2014-08-31 16:39] lorenzo opened #214 "There should be a visual indicator of the current request"
In the history panel, the currently loaded request should be highlighted. Additionally the "Current request" should be reworded to "Back to current request" and maybe make it a button or link

[2014-09-01 01:33] #188 closed, assigned to nobody

[2014-09-01 01:33] #177 closed, assigned to nobody

[2014-09-01 01:34] #110 closed, assigned to nobody

[2014-09-01 01:34] #116 closed, assigned to nobody

[2014-09-01 01:35] #102 closed, assigned to nobody

[2014-09-01 01:36] #104 closed, assigned to nobody

[2014-09-01 05:55] henriquebremenkanp opened #216 "3.0 - Assets failing to load"
![selection_001](https://cloud.githubusercontent.com/assets/3855603/4104947/d9d0908a-319b-11e4-880c-0f25dab7d834.png)
I don't know if this is an issue with DebugKit or with CakePHP routing itself, but every asset of DebugKit fails to load.
CakePHP and DebugKit are both up to date with composer.

[2014-09-02 02:22] g4macgregor opened #218 "New installation throws error"
Parse error: syntax error, unexpected T_FUNCTION in /home/content/16/5348216/html/dev/app/Plugin/DebugKit/Controller/Component/ToolbarComponent.php on line 179

[2014-09-03 10:47] robertscherer opened #222 "Missing cakephp/plugin-installer dev-master package"
In my composer.json I have defined my dependencies as followed:

[code]

Since a few days, when running `composer update` I get the following error message:

[code]

I suppose this has to do with this commit https://github.com/cakephp/debug_kit/commit/4d134e677d692b24542e7b83ddfa125b39fb04be, but I'm not sure why this happens.

Cheers & thanks for the awesome new DebugKit!

[2014-09-03 10:50] #222 closed, assigned to nobody

[2014-09-04 11:33] dereuromark opened #224 "Handling/usability 3.0"
It would be nice if the escape key closes the full page again (Similar to jquery overlays).
And maybe if only at the bottom as bar that it closes the bar again, on second ESC.

So if it's fully expended (and currently focused, of course):

[code]

This would prevent the need to always close the window via close button manually.

Also, the keyboard `<` and `>` keys could navigate between the tabs w

[2014-09-04 18:00] SBordier44 opened #226 "DebugBarFilter not found"
Hello,
I installed debugkit 3.x with Composer and added Plugin::load('DebugKit',['bootstrap' => true]); to my bootstrap and I get this error when displaying my page:
Error: Class 'DebugKit\Routing\Filter\DebugBarFilter' not found
File: /var/www/Portail/plugins/DebugKit/config/bootstrap.php
Line: 20
Someone found it you the same problem?
Thanks

[2014-09-05 01:33] bengalo opened #228 "Option to use fullBase when loading css, js and image"
I'm trying to implement a SSL via a shared proxy where I had to rewrite App.fullBaseUrl and those for css, js and images.
Some of my code only needed a 'fullBase' => true but there is no option to set this for the css and js + cake.icon load in debug kit..
I let you guys decide if this should be default but just an option for enabling using fullBase-paths would be nice.

Had no other choice than r

[2014-09-05 14:56] hernandes opened #229 "Fatal error: Class 'Cake\Core\ObjectRegistry' not found in /plugins/DebugKit/src/Panel/PanelRegistry.php on line 22"
Fatal error: Class 'Cake\Core\ObjectRegistry' not found in /plugins/DebugKit/src/Panel/PanelRegistry.php on line 22

I'm using the beta1 version of cakephp.

[2014-09-05 15:13] #229 closed, assigned to nobody

[2014-09-05 15:20] JD-Robbs opened #230 "3.0: Queries in Custom Route-Class not Logged"
Much less of a bug than a general remark: I am querying the database for a slug in my custom route-classe's `SlugRoute::match()` method. The respective query is not shown in the SQL-log, however.

[2014-09-06 12:40] #214 closed, assigned to nobody

[2014-09-06 20:23] #226 closed, assigned to nobody

[2014-09-11 17:21] dakota opened #238 "3.0 - Validation errors"
In 2.x it was possible to see validation errors from the variables panel. Due to the changes in 3.0 this no longer exists.

Would it be possible to add this into the 3.0 debug kit?

[2014-09-12 15:34] robertscherer opened #240 "Failing Tests because of DebugKit in CakePHP 3.0"
When implementing a Controller Test Case, using testAction() and having loaded DebugKit in the app's bootstrap.php an error happens because of a missing datasource configuration.

This is the error and trace:

[code]

[2014-09-15 19:02] nehemiascr opened #243 "Fatal error: Class 'Cake\Core\ObjectRegistry' not found in /plugins/DebugKit/src/Panel/PanelRegistry.php on line 23"
I downloaded and installed 3.0.0-beta1
![cake3_1](https://cloud.githubusercontent.com/assets/1874087/4276889/4ee08614-3d09-11e4-8176-3a35b97eb7ce.png)
Installed and enabled DebugKit branch 3.0
![cake3_2](https://cloud.githubusercontent.com/assets/1874087/4276901/7e6811ea-3d09-11e4-9b18-f90b999bfcc6.png)
then I got the error
![cake3_3](https://cloud.githubusercontent.com/assets/1874087/4276907/882c

[2014-09-15 23:08] #243 closed, assigned to nobody

[2014-09-16 14:51] kh12e opened #247 "Invalid Marker I18n Extract"
Sorry if it's already been said, when extracting from the shell i18n there is this message:

[code]

v2.2.4

[2014-09-16 16:04] #247 closed, assigned to nobody

[2014-09-17 10:27] #238 closed, assigned to nobody

[2014-09-21 02:57] #224 closed, assigned to markstory

[2014-09-21 02:58] #105 closed, assigned to nobody

[2014-09-21 19:19] #230 closed, assigned to markstory

[2014-09-21 19:19] #240 closed, assigned to markstory

[2014-09-23 15:46] antograssiot opened #253 "3.0 keyboard navigation in history mode"
I just figured out that the keyboard navigation is broken when the history mode is activated (from the begining).
It's seems to be linked to the `$.data()` method not persisting the `data` attribute into the DOM making the folowing code failling:

[code]

A solution is to use `attr('data-id', panel.id);` is `history_panel.ctp`.
Maybe it's less elegant but it can also let us include all the toolbar

[2014-09-24 13:33] #253 closed, assigned to nobody

[2014-09-26 04:26] SplicePHP opened #256 "Lists set to array keys thow error when debug kit is enabled."
If I find a list and set it to an array variable I get this error.
Error: You cannot serialize or unserialize PDOStatement instances

Example code:
This will fail:

[code]

This will work:

[code]

[2014-09-26 12:09] MaxoMatos opened #257 "How to install manualy"
I have CakePHP 3.0.0-beta1 and I dont have composer.

How to install DebugKit mannualy?

I did:
- copy DebugKit to Plugin/DebugKit
- add to config/bootstrap.php  - Plugin::load('DebugKit');

what else?

[2014-09-26 14:54] #257 closed, assigned to markstory

[2014-10-02 20:44] loserrock opened #260 "Suggestion: Active styling on toolbar buttons when their panels are open."
Since you can open/close a panel with the same button, it might be nice to give the buttons an active state when selected. On larger screens, this would provide a better target for quickly closing the panel after jumping around, scrolling long panels, etc., without hitting the (X) button in the upper right-hand corner.

[2014-10-03 15:49] lorenzo opened #261 "RFC - toolbar should reload periodically or on Ajax complete"
Given that firelog is gone, the toolbar should listen for sent Ajax requests or reload itself periodically in order to show data collected from xhr requests.

[2014-10-04 08:22] #260 closed, assigned to nobody

[2014-10-13 09:33] Soswald opened #266 "3.0 use PDO breaks cake console"
In commit 229403b116f7b23f3fe8ed10f037169fe83774fa the introduced "use PDO" breaks the Cake Console.
Removing it gets everything working again.

Greetings

[2014-10-13 12:15] #266 closed, assigned to nobody

[2014-10-20 15:31] TamiasSibiricus opened #269 "3.0 - DebugKit panel fails if Auth Component is enabled"
If i enable Auth component DebuKit panel collapse in right bottom corner and goes to endless loop with ajax requests.
Also after successfull auth system redirect me to last ajax call link from loop.
![20141020182000_cakephp_debugkit_auth_bug](https://cloud.githubusercontent.com/assets/648814/4703866/1211c6be-586e-11e4-8cde-a320224a4372.png)

[2014-10-21 08:19] #269 closed, assigned to nobody

[2014-11-03 23:32] UncaAlby opened #272 "fatal: Not a git repository (or any of the parent directories): .git"
When I follow the instructions at https://github.com/cakephp/debug_kit to install, when I get to the line that reads:

 git submodule add https://github.com/cakephp/debug_kit.git app/Plugin/DebugKit

I get the error:

 fatal: Not a git repository (or any of the parent directories): .git

If there is another step required for this (such as creating a git repository) it might be rather useful if the

[2014-11-04 22:14] #272 closed, assigned to nobody

[2014-11-15 02:56] #256 closed, assigned to markstory

[2014-11-16 00:41] dereuromark opened #277 "Output of variables tab makes relations of data hard to spot."
![debugkit](https://cloud.githubusercontent.com/assets/39854/5059883/51165c9e-6d31-11e4-8bb2-18b6d5f8f0fc.png)

It is very hard to spot the levels of nesting and the relations of the data inside the variables in 3.x.
I missed the second level (event) completely twice, for example:

[code]

Is there a way to make those nestings and relations of data (Attendee belongsTo Event in this case) clearer h

[2014-11-16 09:19] mohsentaheris opened #278 "Warning No active database connections"
When we have no queries in controller but have them in the view, SQL log tab show : Warning No active database connections

but if we have a just one query in controller it shows all queries in controller and in the view.

is there any solution for this?

[2014-11-16 15:02] #216 closed, assigned to nobody

[2014-11-22 17:31] #117 closed, assigned to markstory

[2014-11-22 17:54] #218 closed, assigned to nobody

[2014-11-26 22:36] nduvieilh opened #279 "toolbar.css google fonts import uses http://"
We're developing a SSL encrypted site, the @import on line 4 of the toolbar.css imports the google font open sans via "http://fonts.googleapis.com/css?family=Open+Sans:300" forces the use of http.

If this was changed to "//fonts.googleapis.com/css?family=Open+Sans:300", removing the "http:" then it would decide http or https via the current page.  Preventing a console.log error on https: pages.

[2014-11-29 19:05] #279 closed, assigned to markstory

[2014-12-11 13:19] carolinamassae opened #283 "DebugKit breaks while trying to save state to Cache"
I'm using ToolbarComponent in Windows and recently DebugKit began to break in all requests while trying to write state using FileCacheEngine.

The full stack trace /error can be viewed here: http://jsfiddle.net/d8qrkuk1/.

I just love using DebugKit and since it's breaking the application I had to disable it, it would be very nice if this could be fixed, if you need more info I can pass.

P.S. Sor

[2014-12-18 11:44] berarma opened #285 "False object recursion detected"
When inspecting variables sometimes I see "(object) recursion" besides some properties. I think this happens when there's multiple properties pointing to the same object reference. There's no recursion involved, just one object being present more than once in the inspected variable but in different property trees, so no recursion involved.

I'm using the 3.0 branch.

[2014-12-30 23:42] berarma opened #291 "Improve info accuracy in the variables panel"
I'm using debug_kit a lot to learn from my mistakes and I found some cases where the variables panel doesn't tell me the truth, so I have to resort to debug() to know what's hapening.

Here's the cases I've found:
[code]

I know these aren't the most common situations but these are sometimes the cases we need to debug for.

Since I've already done some work in there I can get my hands on it again.

[2015-01-08 00:56] berarma commented on #291
I'm experimenting with some changes in the variables panel in my branch: https://github.com/berarma/debug_kit/tree/issue-291

It's not ready for a PR but while I'm testing it I could benefit from your corrections and ideas.

I've improved displaying empty values and added type information and string delimitation. I've also tried to implement the suggestion in #277 just to see how helpful it could

[2015-01-08 23:20] berarma commented on #285
Solved.

[2015-01-08 23:20] #285 closed

[2015-01-09 07:53] shahab51021 commented on #122
Hi, i encountered this same problem and got it solved by placing DebugKit folder in cakephp/app/Plugin  instead of cakephp/Plugin. Composer installs BebugKit in cakephp/Plugin folder but the framework need it in app/Plugin.

[2015-01-17 13:01] stem001 opened #298 "3.0.0-RC1 - Minor DebugKit text error"
There is a little mistake on "Sql Log" debugkit tab. On queries table header, there is "Query" instead of "Rows".

[2015-01-17 13:05] dereuromark commented on #298
Fixed in https://github.com/cakephp/debug_kit/commit/e8ae8e76cfd10372d981ea2359afaa2fb58e2341
Thank you!

[2015-01-17 13:05] #298 closed

[2015-01-17 19:18] mcontreras73 commented on #122
Thanks @shahab51021, this work for me, I have CakePHP 2.6.1

[2015-01-18 00:40] markstory commented on #122
@shahab51021 Both paths should be equivalent if both paths are the `Plugin` paths defined in `App`.

[2015-01-26 15:04] lorenzo opened #302 "SQLite database should keep only the most current requests"
Today I noticed that I had a 1Gb sqlite file from debugkit in my project. I think we should periodically delete ancient request data

[2015-01-26 15:12] dereuromark commented on #302
+:100:

[2015-01-26 15:30] markstory commented on #302
I use `rm` :trollface:

[2015-01-26 15:42] markstory commented on #302
Does clearing everything older than 1 month every 1 in 100 requests sound reasonable?

[2015-01-26 15:43] dereuromark commented on #302
I think everything older than a day would even be reasonable, as you wouldn't know what that data was about then a day later anyway.

[2015-01-26 15:48] lorenzo commented on #302
Or just keep a cap of ~2000 requests. Deletion can happens using a probability divisor so it does not happen on each request

[2015-01-27 03:27] markstory commented on #302
I ended up having to use date ranges, as deleting with limit offset is not well supported by the query builder.

[2015-01-27 03:27] #302 closed

[2015-01-27 03:28] markstory commented on #302
See #303

[2015-01-27 08:37] squidobot opened #304 "DebugKit layout in conflict with view blocks"
I created a dashboard page using cake's example template. The conflict arose after I used
` <?php $this->start('my_block') ?> `
messing debugkit's toolbar:

![debugkit](https://cloud.githubusercontent.com/assets/5941735/5915595/8599a080-a642-11e4-9630-5968f027aaef.JPG)

[2015-01-27 09:53] jadb commented on #304
I can confirm DebugKit to be working fine for me with with view blocks, etc. Not sure the errors you are having are related to the plugin. Are you sure that your HTML markup isn't missing some closing tags?

[2015-01-27 12:54] markstory commented on #304
How could some one reproduce this issue outside your specific application?

[2015-01-28 02:27] markstory commented on #304
When you started your block, did you forget to close it?

[2015-01-28 02:51] #304 closed

[2015-02-04 09:44] hellosmith420 opened #306 "DebugKit -- security issue."
Dear Debugkit Creator,
Debugkit is a very good tool. But in your instruction to install, you should include the uninstall process also. Because, is debug mode sensitive data are visible. I have hide the debugkit, but the cache is accessiable, `http://example.com/debug_kit/toolbar_access/history_state/2`. From here hackers stolen my amazon credential and made unwanted access.

[2015-02-04 10:00] AD7six commented on #306
Thanks for linking to a pr0n site.

Why did you have debug kit enabled on a production site?

OR Why did you have a live app with debug = true?

OR what steps are required to reproduce your scenario with debug kit loaded but disabled?

[2015-02-04 10:01] AD7six commented on #306
Infact:

You should **never** enable debug mode in production, and in principle debug kit shouldn't be installed in production either.

Closing as if you _do_ enable debug mode what you describe is to be expected.

[2015-02-04 10:01] #306 closed

[2015-02-23 15:34] sarrala opened #309 "Optimization: MySQL kills query, deadlock detected / transaction timeout."
Is there anything that could optimize following debugkit query:

Too often it runs in preparing state over 50 seconds (that's my query-kill timeout, I'll bet it would be a lot more), maybe adding some carefully picked indexes would help here.

[code]

I think that main problem is `request_id not in (...over 14000 rows...)`.

Just adding `ADD INDEX ("request_id")` improves it a bit but it does not

[2015-02-23 17:27] markstory commented on #309
I can add an index on request_id if that would help. MySQL is pretty bad at subqueries though. Is there a reason you're not using SQLite for the debugkit db?

[2015-02-24 02:17] markstory commented on #309
Closing as I have a pull request up to add an index which should improve performance in MySQL.

[2015-02-24 02:17] #309 closed

[2015-03-12 21:57] bakroistvan opened #312 "require pdo_sqlite in composer.json"
Hi

I just started to be know each other with cakephp 3.
After installing everything with composer I couldn't find why the debugkit isnt loading w/ cakephp.

After
[code]
could be a msg about it, or maybe one can update the composer.json with this

[code]

[2015-03-13 00:41] markstory commented on #312
You don't _need_ sqlite. The readme tells you how to configure the database if you don't have sqlite. Adding sqlite to suggests might help though.

[2015-03-13 01:38] markstory commented on #312
Closing as #313 is open now.

[2015-03-13 01:38] #312 closed

[2015-03-25 14:23] jrobertsvml opened #314 "DebugKit Toolbar does not load after composer update to CakePHP 3.0 stable"
composer.json
[code]

bootstrap.php
[code]

[2015-03-25 14:26] ADmad commented on #314
Did you check the error log?

[2015-03-25 14:33] jrobertsvml commented on #314
There was nothing in the apache, php-fpm or cake logs, but I did find an error in firebug console that showed the framing attempt had been denied. Went looking in the apache config and found that someone in app security set Header always append X-Frame-Options DENY. I've changed it to SAMESOURCE and the toolbar shows fine now.

[2015-03-25 14:33] #314 closed

[2015-03-25 14:35] ADmad commented on #314
Also stable releases for debugkit, migrations, bake have been made so update accordingly by comparing with latest [composer.json](https://github.com/cakephp/app/blob/master/composer.json) of app skeleton.

[2015-04-03 13:02] neohunter opened #317 "Could not parse version constraint while installing using composer on cake 3.0"
I was trying to install it on a cake 3.0 fresh installation as suggested on the wiki but got an error:

[code]

[2015-04-03 13:07] ADmad commented on #317
There's no `3.0.*-dev` any more. Use `~3.0`

[2015-04-03 13:07] #317 closed

[2015-04-03 13:08] ADmad commented on #317
I have fixed the README

[2015-04-03 13:14] neohunter commented on #317
Thanks for your quick reply!

I have one question if you dont mind, why it says zendframework/zendframework ? what it have to do with debugkit?

[2015-04-03 13:43] ADmad commented on #317
CakePHP does not use any component from zendframwork so no idea what you are referring to. If you are new to CakePHP I suggest you following the [installation guide](http://book.cakephp.org/3.0/en/installation.html) to get a fresh CakePHP app skeleton which includes DebugKit.

[2015-04-06 12:41] Laykou commented on #261
Or at least there could be a refresh/reload button to reload only the Debug panel history. I know that I can right-click and refresh the iframe, but the button would be more convenient. :) Currently I am refreshing the page in browser.

[2015-04-06 20:02] markstory commented on #261
A refresh button in the toolbar panel seems like a much lower effort solution :smile:

[2015-04-06 21:33] JD-Robbs commented on #261
I tried doing that here, but, strangely, new requests don't appear although the panel is reloaded.

[2015-04-06 21:34] JD-Robbs commented on #261
With "here", I meant [here](https://github.com/JD-Robbs/debug_kit/blob/patch-2/src/Template/Element/history_panel.ctp). :smile:

[2015-04-07 00:13] markstory commented on #261
@JD-Robbs Because of how toolbar state is stored/loaded, you'd need to have additional controller end points to fetch the history state of the most recent request.

[2015-04-07 07:08] JD-Robbs commented on #261
Thanks! I think because we'd need a new requestId, right?

[2015-04-07 12:03] markstory commented on #261
@JD-Robbs Yes, take care not to also update all the other panels though, as the toolbar uses the requestId to fetch panels incrementally.

[2015-04-07 13:04] pravinsa opened #318 "Is there any panel which is display queries from ajax request."

[2015-04-07 13:16] ADmad commented on #318
Duplicate #261

[2015-04-07 13:16] #318 closed

[2015-04-09 10:17] thaJeztah opened #319 "Missing license"
I just noticed that the repository (both the 3.x and 2.x branches) is missing a license.

[2015-04-09 10:26] ceeram commented on #319
all classes have a docblock on top, which includes MIT license

[2015-04-09 10:36] lorenzo commented on #319
It is also here https://github.com/cakephp/debug_kit/blob/master/composer.json#L7

[2015-04-09 10:51] ravage84 commented on #319
:+1: on adding the MIT LICENSE.txt in both branches.

[2015-04-09 10:58] thaJeztah commented on #319
Yes; I noticed the MIT reference in those files,  but adding a license.txt would be nice (for completenes) :smile:

[2015-04-11 14:12] markstory commented on #319
Fixed in 806e25547979d0b7f6409b805f4779dd7b9beac1 and a5ae1e18a0707612207da1a97161a4ea9f446ad1

[2015-04-11 14:12] #319 closed

[2015-04-11 14:14] thaJeztah commented on #319
Oh thanks, @markstory! I'll remove it from my to-do list :smile:

[2015-04-17 08:49] davidyell opened #324 "2.x releases require Cake 3?"
[code]

[code]

[2015-04-17 09:24] dakota commented on #324
Closed as PR is open.

[2015-04-17 09:24] #324 closed

[2015-04-25 12:01] zoghal commented on #261
@markstory : with this solution can monitor any ajax request

[code]

[2015-04-25 13:55] markstory commented on #261
@zoghal Good idea, we will still need to figure out how to get the latest request id to rebuild the panel, but that is a good start.

[2015-04-25 19:01] zoghal commented on #261
@markstory  simple way : request id must be adding in header to response,
new soulotion :
Now when we get request ID. Create a new request by iframe and show Results.
 api extention in broswers can better monitoring for any request.

so we need simple extension to monitor any request and get results and showing into extension panel( no inject in body page).
We can even take advantage of WebSocket

[2015-04-25 19:03] lorenzo commented on #261
I will work on this

[2015-04-26 14:17] #261 closed

[2015-05-06 23:04] entheosweb opened #333 "Slow cache read translation"
Hi,
today I started a new project with Cake3, and have a problem with DebugKit. When I load any url (eg. a basic users index made with bake) the page takes about 10 seconds for being displayed.

From the Timer panel you can see this operation taking more than 10 seconds
Cache.read translations.debug_kit.it_IT	10.861,66

![schermata 2015-05-07 alle 00 54 27](https://cloud.githubusercontent.com/asse

[2015-05-07 01:13] markstory commented on #333
DebugKit has no italian translation, perhaps the missed translation is the issue? I've not seen that kind of slowdown before though.

[2015-05-07 07:38] entheosweb commented on #333
Tried to switch default_locale to en_US but the issue still remains:

[code]

[2015-05-07 17:18] entheosweb commented on #333
Debugging, I found that it's not a DebugKit related issue, but some kind of slow down during the dispatch of "Controller.initialize" event. Happens only when at least one plugin is loaded. Still don't know how to fix it.

[2015-05-07 17:18] #333 closed

[2015-05-19 08:16] ttgeo1 opened #338 "Variables tab failing to load when using indexBy('id);"
I have loaded a model through a controller action.

 $this->loadModel('StatTotals');
 $statTotals = $this->StatTotals->find('all');
 $statTotals = $statTotals->indexBy('id');
 $this->set('statTotals',  $statTotals);

However when I go to see $statTotals in the variables tab, it just stalls. The cake logo just keeps spinning.

But when I debug $statTotals->indexBy('id')->toArray() it seems to be wo

[2015-05-19 11:59] davidyell opened #339 "Variables tab displaying Query object rather than data"
**What is happening**
I set data to the View and then open the debugkit panel, hit Variables and I see my variable. I click on it to expand it and I get the query object, http://i.imgur.com/yQZmkgE.png

**What I'm expecting**
I'd like to see the data returned by the query.

Using 3.1.3

[2015-05-19 15:49] markstory commented on #339
This is probably a result of my recent changes trying to _fix_ the variables panel. Perhaps Query's should continue to be special cased.

[2015-05-19 15:53] davidyell commented on #339
Erm, if I'm using version 3.1.3 and you've added it to the 3.1.2 milestone, I think you might need a new milestone :wink:

[2015-05-19 15:56] markstory commented on #339
Fixed the milestone, I missed that when I did the release.

[2015-05-19 16:09] dereuromark commented on #339
But https://github.com/cakephp/debug_kit/releases/tag/3.1.3 is also released already.

[2015-05-19 22:07] markstory commented on #339
Darnit.

[2015-05-27 19:44] markstory commented on #339
Fixed with #342

[2015-05-27 19:44] #339 closed

[2015-05-28 09:49] Kwaadpepper opened #343 "ORM results in var section"
I got this message in the debug kit variable section:
"Serialization of 'Closure' is not allowed"

because of :
$forms =  $this->Forms->find('list')->select(['id', 'name']);
$this->set('forms', $forms);

Doing this solves the problem:
$this->set('forms', $forms_>toArray()));

I think it could be better by showing the reason of this.
Then may be the var could be printed with a warning (this is obje

[2015-05-28 09:50] Kwaadpepper commented on #343
Oups duplicate of #338

[2015-05-28 09:50] #343 closed

[2015-05-29 21:35] markstory commented on #291
Closing, as this never turned into a pull request. I'm happy to discuss further if you want to do a pull request.

[2015-05-29 21:35] #291 closed

[2015-06-01 04:53] Graziel opened #345 "sort variables"
i find that having many viewVars can be annoying to find in debugKit variables, it would be easy to implement ksort after https://github.com/cakephp/debug_kit/blob/master/src/View/Helper/ToolbarHelper.php#L77-L79 as simple
[code]
downside is some users can rely on current setting of non ordered results
(ie to check the ->order in ->find('list') )

[2015-06-01 12:50] markstory commented on #345
We could sort just the top level variable scope and not recursively through the variables.

[2015-06-01 12:54] dereuromark commented on #345
@markstory I am hesitant to upvote that because the order of the variables usually tells you when it was added. Mixing that up might lose that implicit information...

[2015-06-01 14:15] ravage84 commented on #345
:+1:  to JS sorting

[2015-06-01 15:07] markstory commented on #345
Good point @dereuromark knowing the approximate insert order is handy.

[2015-06-01 21:43] Graziel commented on #345
another approach would be to add button which adds cookie via js, reloads the page and change condition to
[code]
this way it will remember it so you wont have to click every time you load panel to sort via js and if you dont want sort just delete the cookie again via js and refresh the panel

[2015-06-01 21:47] dereuromark commented on #345
Sounds like a good idea to me.

[2015-06-02 01:27] markstory commented on #345
I don't think I understand this well enough to build it. Someone will have to do a pull request :smile:

[2015-06-04 02:05] markstory commented on #345
Closing as there is a pull request open.

[2015-06-04 02:05] #345 closed

[2015-06-13 13:38] gjgjwmertens opened #348 "Toolbar not loading"
I am running CakePHP 3 on nginx.
On first install the debug_kit could not load debug_kit/js/toolbar.js. I fixed this by adding debug_kit/webroot as debug_kit to my site root.
Now the iframe tries to load debug_kit/toolbar/id.... but fails, there is no toolbar directory in debug_kit/webroot

[2015-06-13 15:53] markstory commented on #348
Sounds like your rewrite rules aren't working correctly, or there is another issue with URL rewriting. Try using the built-in server and see if you have the same issue `bin/cake server -p 8080`, and then go to `localhost:8080` in your web browser.

[2015-06-13 17:27] gjgjwmertens commented on #348
Thanks for the feedback. Solved it with configuration changes in the URL rewrite of nginx.
    if (!-e $request_filename) {
        rewrite ^/(.+)$ /home/public_html/app.domain.com/private/cake/$1 last;
        break;
    }

sorry to have bugged you with this...

[2015-06-13 17:27] #348 closed

[2015-06-15 02:22] markstory opened #349 "Simpler DebugKit Sql query out"
_From @cmann1 on June 11, 2015 13:2_

Perhaps an option to output simpler queries could be helpful when debugging, currently if you open `Sql Log` tab your queries will be extremely verbose:
[code]
All of the `Table.col AS Table__col` can be difficult to look through and, in my experience at least, most of the time is not needed.
Maybe the debug kit could format the query, stripping out unnecessar

[2015-06-15 02:22] markstory commented on #349
I don't really know if that is a good idea. SQL is non-trivial to parse and manipulate, and logging different SQL than was actually executed seems like it could cause as many problems as it solves.

[2015-06-15 02:22] markstory commented on #349
_From @ndm2 on June 11, 2015 20:28_

I'd rather like to optionally see the queries in a highlighted, maybe even formatted fashion, or an easier way too hook into the output generation.

For now I've created a plugin with a custom panel extending `SqlLogPanel`, which grabs the `DebugLog` logger, and uses a copy of the `sql_log_panel.ctp` element, where the query output is being formatted using http

[2015-06-15 02:22] markstory commented on #349
Formatting the queries sounds like a good option.

[2015-06-21 18:35] dereuromark opened #350 "DebugKit update required for 3.x"
With the view updates the debug kit is now broken:

    Deprecated (16384): Controller::$viewPath is deprecated. Use $this->getView()->viewPath() instead. [CORE/src/Controller/Controller.php, line 322]

    Deprecated (16384): Controller::$layout is deprecated. Use $this->getView()->layout() instead. [CORE/src/Controller/Controller.php, line 322]

The result is a non-functional debug kit toolbar.

[2015-06-21 20:19] markstory commented on #350
Deprecation warnings are easily silenced. I think we should continue using them as it is an effective and  direct way for us to indicate deprecations.

[2015-06-21 21:29] ADmad commented on #350
I agree with @markstory

[2015-06-25 07:16] joshuajb123 opened #352 "Debugkit missing..."
Its working after i clean install cakephp from composer then I change something in the app config.... now its missing i dont know why....

chrome console:
GET http://localhost/collab/debug_kit/js/toolbar.js net::ERR_CONTENT_DECODING_FAILED

[2015-06-25 07:43] joshuajb123 commented on #352
Got this figured...

My problem is I install cake in:
http://localhost/site1/

i fixed it when making a virtual host.
http://site1

hope it helps the others..

[2015-06-25 07:48] dereuromark commented on #352
I also do that sometimes and it works. But a vhost is sure the better solution. Closing then.

[2015-06-25 07:48] #352 closed

[2015-06-26 14:43] ADmad commented on #350
I have create a [3.2](https://github.com/cakephp/debug_kit/tree/3.2) for cake 3.1 compatibility.

[2015-06-26 16:37] markstory commented on #350
@ADmad Thanks. I'll cap the current debugkit versions to only accept 3.0.x instead of `~3.0`.

[2015-06-29 22:47] snelg opened #354 "VariablesPanel crashes with Unbuffered queries"
If a Query is unbuffered, then after one call to toArray() any subsequent calls to toArray() will throw an Exception in ResultSet->rewind.
Example:

*index.ctp*
[code]

*ClubsController.php*
[code]

Without that "bufferResults(false)" call, everything's fine. But with that call, the page throws an exception.

So although the change in version 3.1.4 to show Query items instead of debug info is usua

[2015-06-30 00:50] markstory commented on #354
Closing as a fix has been merged.

[2015-06-30 07:49] #354 closed

[2015-07-09 10:56] nikitagarg opened #356 "dubug kit"
![Uploading debug kit.PNG…]()
i'm new in cakePHP. not able to install debug kit. i've downloaded it and placed it in root folder. bt still it is showing warning

[2015-07-09 10:58] #356 closed

[2015-07-09 10:58] jippi commented on #356
this is not a support forum, use stackoverflow

[2015-07-11 23:01] Oxicode commented on #182
:+1:

[2015-07-11 23:03] #182 closed

[2015-07-26 02:12] markstory commented on #349
I gave using jdorn/sql-formatter a spin. The end result looks like:

![screen shot 2015-07-25 at 22 10 05](https://cloud.githubusercontent.com/assets/24086/8892192/083e90e0-331a-11e5-8d69-973018ad4b46.png)

The syntax highlighting uses garish colours which don't look good with the rest of DebugKit.

[2015-07-26 03:14] ndm2 commented on #349
The colors can easily be customized, static properties aren't that nice tough.

Just for example purposes, especially the non-formatted variant would need something with better contrast.

[code]

![formatted-sql-log-wrapped](https://cloud.githubusercontent.com/assets/5031606/8892341/073a4af6-3354-11e5-875d-75647665c626.png)

![formatted-sql-log](https://cloud.githubusercontent.com/assets/5031606/8

[2015-07-26 10:34] lorenzo commented on #349
That looks great to me

[2015-07-26 10:56] AD7six commented on #349
I like this too. I'm not sure yet but the whitespace changes are possibly more useful (to me) than the formatting changes.

Just in case: I definitely do not want anything more significant than whitepsace and formatting to be applied.

[2015-07-26 12:46] markstory commented on #349
@ndm2 Cool, I didn't see the color options in the docs.

So do we want coloured output or just formatting?

[2015-07-26 15:27] lorenzo commented on #349
I'm more interested in colors than formatting :P

[2015-07-27 20:22] markstory commented on #349
Closing as there is a pull request up that can be tweaked further.

[2015-07-27 20:24] #349 closed

[2015-07-27 23:34] saraer opened #359 "Cache::config() and Cache::groupConfigs()"
I noticed config() and groupConfigs() methods of Cache(via DebugEngine) do not return correct value.
[code]
output
[code]

[2015-07-30 01:25] markstory commented on #359
Pull request up now.

[2015-07-30 01:25] #359 closed

[2015-07-31 04:27] Graziel commented on #277
random thought: you can add 'title' attribute to `<ul>` tag ie change https://github.com/cakephp/debug_kit/blob/master/src/View/Helper/ToolbarHelper.php#L55-L144
to
[code]

note
[code]

[2015-08-14 06:08] Graziel opened #363 "enhancements"
ive added some enhancements to debug_kit for my personal use but i would like to share:
- variables now have title with path
- variables can now be turned to JSON with a button click
- variables can now display line, file and function where they were set if its supplied with viewVarsBT(for ease of doing that added DebugKitTrait)
- variables are now expandable when clicking on `<strong>` tag instea

[2015-08-14 18:53] markstory commented on #363
These all sound interesting.

The traits and JSON I'm less sure about, but I think trying your branch out might show how useful they could be.

[2015-08-17 16:56] Graziel commented on #363
for me looking at larger data sets is easier via JSON than clicking and expanding each level of tree in debug_kit but it could be also done using print_r or any other function, also it might help others with copy paste to gist / pastebin

about the trait i like to know quickly where variable is comming from (it also shows in 'title' where it was changed) but again it might be personal thing

[2015-08-17 17:18] josegonzalez commented on #363
@markstory I did something similar to that trait thing except I override the `AppModel::find()` to add it via the logging toolbar.

[2015-08-17 23:53] markstory commented on #363
I can totally see how knowing where view variables are being set is useful. I don't have an idea in mind that is better than the trait, but I still find it kind of funny feeling.

[2015-08-28 01:05] nelson6e65 opened #365 "2.2.*: Composer installs DK it in root 'Plugin' directory, instead of 'app/Plugin'."
For version **2.2.x**, composer install it in `/Plugin/DebugKit`, and this path is not used in app, because Cake (2.7) throws errors: `Make sure your plugin DebugKit is in the app/Plugin directory and was loaded`.

**How can I use it, installing DebugKit via composer?**

[2015-08-28 01:48] markstory commented on #365
Where is your composer.json file? It should be in `app/composer.json` not in the root directory.

[2015-08-28 02:01] nelson6e65 commented on #365
Oh... In root, as I downloaded from cakephp *.zip.

I just ran `composer update`  in root directory.

[2015-08-28 02:19] rchavik commented on #365
"your project's composer.json" would be `app/composer.json`.

[2015-08-28 02:37] nelson6e65 commented on #365
@rchavik I guest... The project composer.json is located in the root. In CakePHP 2.7.3 download, the composer.json has this:

[code]

Then, `composer update` installs DebugKin in root directory. I guest I must create **another** `*.json` in `app/composer.json.` and run there. Should be clarify in instructions about composer install then:

"[...]composer knows to install it inside your **`/Plugin`*

[2015-08-28 03:47] rchavik commented on #365
Not really. I'd like to think the `composer.json` in `ROOT` is cakephp's.  It defines cakephp's dependencies, not your application's.

You application will have a different set of dependencies, and you should set it in your `app` dir.

Also, you might want to have a look/use https://github.com/FriendsOfCake/app-template to base your app of.

[2015-08-28 05:00] nelson6e65 commented on #365
I see... Thanks.

[2015-08-28 13:01] #365 closed

[2015-09-09 10:05] davidyell opened #367 "Toolbar tabs autoclose"
**What I did**
Used `"cakephp/debug_kit": "2.2.*@dev"` with Cake `2.7.3`. Loaded a page, clicked the variable tab, expanded a variable, then clicked the grey bar at the bottom of the drop down.

**What happened**
The bar vanishes. Then it will display and hide only when hovering over the toolbar.

**Workaround**
You have to click the toolbar tab again a few times until it becomes 'sticky' again.

[2015-09-09 14:55] markstory commented on #367
I'll see if I can reproduce this.

[2015-09-09 17:29] davidyell commented on #367
Annoyingly it doesn't happen 100% of the time!

[2015-09-13 01:36] markstory commented on #367
Pull request is up now.

[2015-09-13 01:36] #367 closed

[2015-09-14 14:55] djamesfar commented on #350
3.1-RC1 DebugKit throwing deprecation warnings when Variables panel selected:
[code]

[2015-09-14 15:39] antograssiot commented on #350
@djamesfar you should use 3.2 branch of debugkit with cake 3.1

[2015-09-22 09:39] tartempion34 opened #369 "Unserialize() error"
Hi all,

I Want to use debug_kit, but Variables, SQL logs and history pannels had errors.
When I display these pannels, I have this error:

Notice (8): unserialize(): Error at offset 214 of 218 bytes [ROOT/vendor/cakephp/debug_kit/src/Controller/PanelsController.php, line 87]

Is there a method for fixing this problem?

Thanks

[2015-09-22 16:22] markstory commented on #369
You can remove the debugkit sqlite database. This will remove all the tracked panel data, but should fix the error.

[2015-09-22 16:22] #369 closed

[2015-09-23 07:33] tartempion34 commented on #369
@markstory  Thanks for your answer. I removed the SQLite database and I configured DebugKit for working with a PostreSQL database, but I have this problem again.

[2015-09-23 17:04] markstory commented on #369
Ok, without knowing what data is triggering the unserialize issue there isn't much I can do.

[2015-09-23 17:20] tartempion34 commented on #369
How can I know what data is triggering this issue?

[2015-09-24 01:09] markstory commented on #369
I would start by looking at the serialized data, and seeing which bytes the error comes from.

[2015-09-24 06:31] tartempion34 commented on #369
Okay,
Code line 87: $this->set(unserialize($panel->content));

in the panel "History":
error: Notice (8): unserialize(): Error at offset 59 of 63 bytes [ROOT/vendor/cakephp/debug_kit/src/Controller/PanelsController.php, line 87]
Data in $panel->content: 'a:1:{s:8:"requests";a:10:{i:0;O:15:"Cake\ORM\Entity":10:{s:14:"'

In the panel "SQL Logs":
error: Notice (8): unserialize(): Error at offset 128

[2015-09-24 19:28] markstory commented on #369
Well that data looks like an incomplete serialized object.

[2015-09-24 19:31] tartempion34 commented on #369
Ans it's a problem

[2015-09-24 20:12] lorenzo commented on #369
What database are you using for debugkit?

[2015-09-24 20:13] lorenzo commented on #369
Ah, I just read it is postgres. Make sure to make the fields big enough so they can contain all the serialized data

[2015-09-25 07:03] tartempion34 commented on #369
@lorenzo thanks for your answer. I checked the database, there is no limit on charvar fields. Anyway, tables was created by debugKit so I don't think it creates too small fields.
I removed the postgres connection for using sqlite, and it works. I think I will stay on this database.

Thanks for your answers

[2015-09-27 13:42] Josbrafe commented on #166
how i resolved my toolbarcomponent issue:
I use cakephp: 2.6.3, I downloaded version 3.0.
i followed the basic setup as instructed by articles online for installing debugkit.
which didn't work immediately for me.

after much research i deduct that issue is related to compatibility of versions.
i did deleted the folder: DebugKit created under app/plugins
installed composer.
restarted my wamp server

[2015-09-28 03:49] etfb opened #372 "Installation instructions are aimed at experienced/expert CakePHP users"
Picture if you will: a new CakePHP user, with a shiny new installation of PHP and Apache, installs CakePHP 2.x (because he happens to be working somewhere that requires 2.x for historical reasons).  Once he gets the salt sorted and the database configured, Cake tells him that it might be a good plan to install debug_kit.  Fair enough; off to github to grab it.  There's even an Installation section

[2015-09-28 04:03] etfb commented on #372
Note that the README for the 2.2 branch does solve these problems, so if the CakePHP intro page had linked to the correct branch, I never would have discovered that the master branch doesn't. That doesn't let you off the hook, but it does give you an example to work from.

[2015-09-28 04:17] ADmad commented on #372
Just above the "Installation" section the README of master branch there's a "DebugKit for CakePHP 2.x" section which states:

Suggestion:  Please don't skip over sections of readme.

[2015-09-28 04:44] etfb commented on #372
That's a good fix for the immediate problem; bravo!

Now of course the same instructions that exist in the 2.2 branch need to be imported to the master.  Note that they're missing the instruction to call "composer install", and unless I made a typo they also don't create the right plugin directory - it should be "plugins", not "plugin".

[2015-09-28 04:45] etfb commented on #372
Additional suggestion: assume that everyone will skip to the Installation section.  Put it at the top, and include all relevant info.  The most commonly broken rule in all Free/Libre/Open Source projects is this: do not put a bouncer on door you want everyone to enter.

[2015-09-28 05:44] etfb opened #373 "Plural of virus isn't really viri"
I'll quote chapter and verse from a dictionary if required, though I don't think it should be necessary.  lib/Cake/Utility/Inflector.php in the latest 2.x build (maybe in 3.x too; I didn't check) includes "virus" as one of the words that has its "us" changed to "i".  It should be left out of the regexp (line 50, starting with '/(alumn|bacill|cact' etc) since the correct English plural of virus is

[2015-09-28 05:45] etfb commented on #373
Here's a polite explanation of the error:

http://dictionary.reference.com/help/faq/language/g63.html

[2015-09-28 08:47] dereuromark commented on #373
See http://sandbox3.dereuromark.de/sandbox/inflector?string=virus
This is also in the 3.x branch.
But you should open a ticket @ cakephp/cakephp (the actual framework), not some debug plugin of it.

[2015-09-28 10:30] ravage84 commented on #372
I tried to improve the installation instructions for 3.x and 2.2.x with the PRs mentioned above.

[2015-09-28 11:27] etfb commented on #373
You're right, of course. I'll delete this and put it in the right place. My apologies!

[2015-09-28 11:27] #373 closed

[2015-09-28 12:08] etfb commented on #372
Looks good.  Nice!

[2015-09-28 16:47] markstory commented on #372
Closing as the README in both versions has been improved.

[2015-09-28 16:47] #372 closed

[2015-09-29 00:01] etfb commented on #372
Agreed. That's much better.

[2015-10-05 21:44] plopzer opened #379 "toolbar.js throws errors if CORS is used"
Error in javascript console:

    Refused to get unsafe header "X-DEBUGKIT-ID"
        logAjaxRequest @ toolbar.js:46

[2015-10-06 01:37] markstory commented on #379
How can someone reproduce this issue?

[2015-10-06 01:40] plopzer commented on #379
If you're using apache, on the server serving the ajax request, send the header:

    Access-Control-Allow-Origin: http://example.com

where example.com is the server where the request is originating from

[2015-10-06 02:39] plopzer commented on #379
It looks like maybe setting the following header might fix it. I'll try it tomorrow.

    Access-Control-Expose-Headers: X-DEBUGKIT-ID

[2015-10-06 09:08] dakota opened #380 "Database gets silly big"
If you've got a particularly active development environment (Especially if you are using simple ajax polling) it is possible for the sqlite db file to get massive:

[code]

While there is the `gc` method, I don't think that is is strict enough. It doesn't make sense to only delete requests older than 2 weeks when DebugKit only shows the last 10 requests at any one time. I believe that the `gc` sho

[2015-10-06 09:10] dereuromark commented on #380
:+1: No point in keeping anything beyond 20+
You wouldn't even know what it was about either way after xx other requests following.

[2015-10-06 10:09] ravage84 commented on #380
:+1: to be configurable, those who actually need more shouldn't be bitten in the a**.
But I would say 50 sound good, max 100 may be.

How much space could be taken up by 100 requests?

[2015-10-06 11:00] dakota commented on #380
Closing this, I've opened a PR.

[2015-10-06 11:00] #380 closed

[2015-10-08 01:57] markstory commented on #379
Looks like Firefox doesn't have an issue with getting 'unsafe' headers. However, chrome does.

[2015-10-08 02:07] plopzer commented on #379
I tried both Access-Control-Expose-Headers and Access-Control-Allow-Headers but couldn't get either to work. I think there is supposed to be a way to specify the headers that gets sent in pre-flight?

[2015-10-08 02:34] markstory commented on #379
The issue is that the domain responding to the CORS request has to use `Access-Control-Expose-Headers` and there is 0 chance that this will always be the case. Given that chrome logs an error and doesn't raise an exception, it might be best to ignore this error unless you also control the domain you're doing CORS requests to.

I was able to fix the error by adding `$this->response->header(['Access

[2015-10-08 02:34] #379 closed

[2015-10-15 13:38] cnizzdotcom opened #383 "Error: The application is trying to load a file from the DebugKit plugin."
Okay so I've been using CakePHP3 since it was an early release candidate, after updating some old 3.0 based code to 3.1 and upgrading debug kit with it I am now getting this:

Error: The application is trying to load a file from the DebugKit plugin.
Make sure your plugin DebugKit is in the /var/www/personal/uberniche/plugins/ directory and was loaded.

I can see that vendor/cakephp/debugkit exists

[2015-10-15 13:40] markstory commented on #383
DebugKit should be in in vendor/. Also make sure that  vendor/cakephp-plugins.php has the correct paths, and that your config/bootstrap.php file has `Plugin::load('DebugKit', ['bootstrap' => true]);`

[2015-10-15 13:40] #383 closed

[2015-10-15 13:45] cnizzdotcom commented on #383
Do not close this, you've ignored a critical portion of my report. vendor/cakephp-plugins.php does not exist in my file system! I suspect this is the primary issue as I would surmise that it servers as an autoloader, but I don't have it for some reason. Please advise.

[2015-10-15 13:49] markstory commented on #383
Given that your application is older, you are likely missing the [plugin installer](https://github.com/cakephp/app/blob/master/composer.json#L12), and [post-install hook](https://github.com/cakephp/app/blob/master/composer.json#L36) which builds the cakephp-plugins.php file.

[2015-10-15 13:57] cnizzdotcom commented on #383
This has resolved my issue, for future viewers be sure to add this to your composer.json "scripts" per the giant red box that should appear in your terminal:

"post-autoload-dump": "Cake\\Composer\\Installer\\PluginInstaller::postAutoloadDump"

Nice to be back in business.

[2015-10-29 03:29] giozhou opened #385 "Always get notice 'Make sure you have `Plugin::load("DebugKit", ["bootstrap" => true]);'"
I installed cakephp V3.0
I have loaded the component
//bootstrap.php
[code]
And in my AppController.php I have added this code

[code]

File is existing in my project

[code]

What's the problem I encountered?

[2015-10-29 03:39] markstory commented on #385
In CakePHP 3.0 there is no component. Have you tried removing the $components line?

[2015-10-29 03:48] giozhou commented on #385
No component?
Below is path in Cakephp V3.0
[code]

before I added code,
[code]
no exception like this .
[code]

But I still want to use debugkit toolbar for I want to see sql dump.

[2015-10-29 07:45] lorenzo commented on #385
Please follow the installation instructions in the book:
http://book.cakephp.org/3.0/en/debug-kit.html

[2015-10-29 07:45] #385 closed

[2015-10-29 13:03] JustDoItSascha opened #386 "PDOException triggers a FatalError"
My application throws a PDOException. This PDOException triggers a FatalError itself.

The error is in debug_kit/src/Panel/VariablesPanel.php line 85.

[code]

The $error variable in line 206 contains a string with

[code]

Tested with DebugKit 3.0.2 and DebugKit 3.1.0

[2015-10-29 13:07] lorenzo commented on #386
The offending line:

https://github.com/cakephp/debug_kit/blob/83467f84857484ac3bc6579d2ca84b5de8ef7a2e/src/Panel/VariablesPanel.php#L85

[2015-10-29 13:08] JustDoItSascha commented on #386
Not correct, offending Line is https://github.com/cakephp/debug_kit/blob/83467f84857484ac3bc6579d2ca84b5de8ef7a2e/src/Panel/VariablesPanel.php#L87

[2015-10-29 13:20] dereuromark commented on #386
Both lines would result in the same issue.

[2015-11-24 11:44] gooze2014 opened #387 "CakePHP 3.1.4 DebugKit not finding Routes"
NetworkError: 404 Not Found - http://localhost/debug_kit/js/toolbar.js

I tried to follow the steps from this post:
http://stackoverflow.com/questions/24048223/cakephp-debugkit-plugins-webroot-not-being-found

and now have this errror: "NetworkError: 404 Not Found - http://localhost/debug_kit/toolbar/8475f531-de95-4698-90b0-f8b1ebcf7960"

Can Anyone help? Any suggests?

[2015-11-24 13:15] gooze2014 commented on #387
Forget About that, after Testing on Server i recognized that some of the Vhost-Rules where overwritten in local testing environment

[2015-11-24 13:17] #387 closed

[2015-11-27 11:12] gjm opened #388 "Not working with xdebug"
Not working when xdebug is enabled. When i disable xdebug works fine.
![cakephp_xdebug](https://cloud.githubusercontent.com/assets/77360/11440096/af55cfc6-94f7-11e5-89a8-a98dc1a754bc.jpg)

[2015-11-27 13:32] lorenzo commented on #388
Would you mind reporting this to the xdebug project as well? @gjm
In the meantime I'll see if I can reproduce it myself. Can I see your bootstrap.php?

[2015-11-27 13:32] lorenzo commented on #388
And php version please :D

[2015-11-27 14:13] gjm commented on #388
Thanks for you reply Lorenzo.

My bootstrap.php is completely stock after installation with composer. Get it at https://goo.gl/ZhwgYR

I'm running PHP 5.6.11 on Ubuntu 15.10 (64 bit).

[2015-11-27 14:18] lorenzo commented on #388
Thanks

[2015-12-24 07:36] ethanpooley opened #392 "Unserialize errors after moving to PostgreSQL storage"
I'm running into problems making PostgreSQL the storage mechanism for DebugKit. Features that worked previously (History, SQL Log, and Variables) now print `unserialize()` errors.

Versions:
- Cake 3.1.3
- DebugKit 3.2.1
- PHP 5.6.16
- PostgreSQL 9.4.5

Environments:
- Ubuntu 14.04 on Virtualbox 5.0.12
- Ubuntu 14.04 on Heroku (Cedar-14)

Configuration:
- `config/app.php`
[code]
- `config/bootstra

[2015-12-24 12:50] lorenzo commented on #392
Can you show the table schematic that was generated by debugkit?

[2015-12-24 18:52] ethanpooley commented on #392
[code]

[2015-12-24 20:39] markstory commented on #392
From the looks of that entity dump, your serialized content has been truncated.

[2015-12-25 13:34] ethanpooley commented on #392
Yes, and I turned on Postgres logging to catch the INSERT query. It's been truncated prior to insertion:

[code]

[2015-12-25 14:21] lorenzo commented on #392
It is probably PDO doing something funny

[2015-12-25 14:25] ethanpooley commented on #392
Happy to grab any additional data for you guys, but I don't want to just flail around. What can I try for you?

[2015-12-25 14:25] lorenzo commented on #392
Let me try it for myself before...

[2015-12-25 16:55] markstory commented on #392
Until this issue is fixed, you might want to use the default SQLite storage.

[2015-12-28 12:25] karimcse opened #393 "debugkit panel not showing"
After installing debugkit plugin, the panel now showing in my local machine. But after uploading the application  into server the panel showing. What I am missing in my local machine for that debugkit panel not working as expected.

[2015-12-28 13:39] lorenzo commented on #393
You need to have the sqlite extension installed and enabled in your server. Also, debugkit only works when `debug => true` is present in `app.php`

[2015-12-28 13:39] #393 closed

[2015-12-28 19:54] dereuromark opened #394 "Stray `Locale` folder?"
It seems the Locale folder in root

    tree/master/Locale/pt_br/LC_MESSAGES

has not yet been removed, or maybe there was a conflict.
The correct one afaik should be in /src/

[2015-12-28 20:12] dereuromark opened #395 "Issue with custom panels"
I cannot get the [documented approach](http://book.cakephp.org/3.0/en/debug-kit.html#developing-your-own-panels) of custom panels to work with CakePHP3.

Might the tests be wrong or insufficient?
The test namespace is just `Panel` here, I would assume `PluginName\Panel` at least, or App for non plugin:
https://github.com/cakephp/debug_kit/blob/master/tests/test_app/Plugin/DebugkitTestPlugin/Panel/

[2015-12-28 22:07] #394 closed

[2015-12-28 22:08] markstory commented on #395
I'll take a look, I remember having app panels working at one point.

[2015-12-29 09:56] ethanpooley commented on #392
Yes @markstory, that's what we'll do for now. The impetus for the switch though is having a functional DebugKit on Heroku (or any scaling stack) regardless of the number of app servers in use.

[2015-12-29 10:17] ethanpooley opened #396 "Prefix storage tables to avoid collisions"
The database tables used by DebugKit are `panels` and `requests`. These are very generic names that could easily be present in applications. When DebugKit is given a dedicated database this is no problem, but in some environments a dedicated database would increase complexity and/or expense. To provide the most flexibility, simplest setup, and fewest failures, DebugKit's storage tables should be p

[2015-12-29 11:33] lorenzo commented on #396
In principle I agree with you, but why not just use sqlite?

[2015-12-29 14:03] lorenzo commented on #396
@ethanpooley since you are using postgres, would it be acceptable in the mean time to use another postgres schema?

[2015-12-29 18:12] markstory commented on #396
Use a dedicated database, postgres schema or SQLite.

[2015-12-29 18:12] #396 closed

[2015-12-29 18:16] markstory commented on #392
SQLite works fine on heroku from my experience. Are you hoping to have debugkit running in an environment where multiple app servers are involved?

[2015-12-29 18:38] markstory commented on #395
Seems like [this author managed to get it working](https://github.com/dorxy/debug_http).

[2015-12-29 18:54] josegonzalez commented on #392
You might need to set `ext-sqlite` in your composer.json for heroku...

[2015-12-29 21:06] ethanpooley commented on #392
Each Heroku dyno has its own filesystem, and each request in a session is routed randomly across available dynos. So DebugKit on top of SQLite works just fine for single-dyno environments, but fails in multi-dyno environments in proportion to the number of dynos available. In the multi-dyno environment a panel request may hit a different filesystem—and thus a different SQLite database—than the one

[2015-12-29 21:16] josegonzalez commented on #392
Interesting. I've never used heroku like that in development, but your use case is pretty sound.

[2015-12-29 23:12] markstory commented on #392
I'll see if I can reproduce this issue locally with postgres. I won't be able to check against heroku's postgres though.

[2015-12-29 23:14] markstory opened #397 "(ORM) query()->update() giving error"
_From @half2me on December 29, 2015 22:3_

I am just trying out the example code in the documentation for my own data:

[code]
I get the following error:
![error you cannot call all on a non select query use execute instead](https://cloud.githubusercontent.com/assets/6759894/12042909/fc5c2b8e-ae7f-11e5-8f36-27df1d278fa9.png)
I don't understand, I am not using 'all' I am using 'execute'. Why doesn'

[2015-12-29 23:14] markstory commented on #397
_From @lorenzo on December 29, 2015 22:12_

Could you open this bug in the debugkit repo please?

[2015-12-29 23:15] markstory commented on #397
I'm guessing that `$result` or `$query` is being assigned to the view context as well?

[2015-12-29 23:15] markstory commented on #350
This has been fixed now.

[2015-12-29 23:15] #350 closed

[2015-12-29 23:16] markstory commented on #100
This is in the latest 3.x releases.

[2015-12-29 23:16] #100 closed

[2015-12-29 23:22] lorenzo commented on #397
The problem is that in the variables panel we check for a `Database\Query` class but then call the `all()` method, instead of checking if it is also a `ORM\Query`

[2015-12-29 23:24] markstory commented on #108
Closing as this is quite old and no further requests have been made for it.

[2015-12-29 23:24] #108 closed

[2015-12-29 23:32] markstory commented on #111
Closing as the toolbar now stores into a SQLite database that can be viewed in a separate request.

[2015-12-29 23:32] #111 closed

[2015-12-29 23:32] markstory commented on #228
To my knowledge this is working with current 3.x releases.

[2015-12-29 23:32] #228 closed

[2015-12-29 23:33] markstory commented on #397
One could use ORM\Query to do update() as well. I think we need to see if the query is a select query before calling all().

[2015-12-29 23:40] markstory commented on #395
The documented approach worked fine for an application hosted panel. Make sure you setup the panel config before loading the plugin. Having the `Configure` call after the `Plugin::load()` call will result in the panel not being loaded.

[2015-12-29 23:40] #395 closed

[2015-12-30 00:12] dereuromark commented on #395
You were right, the order mattered. Thx.

[2015-12-30 07:37] HavokInspiration commented on #395
Maybe it would be worth mentionning in the doc ?

[2015-12-30 13:04] ethanpooley commented on #396
@lorenzo Our reasons for not using SQLite in this instance are explained here: https://github.com/cakephp/debug_kit/issues/392#issuecomment-167877396

Thank you both for looking at this. I was not up to speed on schemas in Postgres, being a long-time MySQL user. I went ahead and implemented the alternative schema even though our app doesn't currently have a name conflict with DebugKit's tables. Th

[2015-12-30 14:00] lorenzo commented on #396
Most of how php works with database comes from the assumption that everything was setup already. Since creating database and schemas often require privileged access, that is not something cake attempts to do; An exception being sqlite, since it is just a file in the filesystem, and we know almost for sure that we have permission to create the file in a development environment.

I'd be glad If you

[2015-12-30 14:53] markstory commented on #395
@HavokInspiration Probably.

[2015-12-30 17:16] ethanpooley commented on #396
@lorenzo Yep, I definitely see those points. In my own case I've added this line to the datasource configuration:
[code]
But I agree there's no good way to universalize that, especially with the privileges gotcha. To me that reinforces the importance of allowing DebutKit to play nicely within an app's own schema. But as to the docs, I'll PR something soon.

[2015-12-30 17:45] lorenzo commented on #396
Oh, that's a very elegant way of dealing with it. We can just add that to the docs for using debugkit with postgres

[2016-01-01 14:12] markstory commented on #397
Pull request up now.

[2016-01-01 14:12] #397 closed

[2016-01-05 03:12] markstory commented on #392
I was able to reproduce this issue locally with postgres 9.4.2 and PHP 5.5.27. From looking at the serialized output, it looks like the strings are being truncated at the first null byte by pdo_pgsql.

[2016-01-05 03:31] markstory commented on #392
Pull request up now.

[2016-01-05 03:31] #392 closed

[2016-01-07 19:33] JD-Robbs commented on #206
I, too, had trouble with this. Tried loading a custom Panel (residing in the app skeleton) as per the README instructions.

[2016-01-08 02:34] markstory commented on #206
You need to configure the panel _before_ loading the plugin.

[2016-01-08 02:34] #206 closed

[2016-01-11 19:25] Tzaoh opened #401 "Constant Arrays notice/warning"
If you declare an array as constant (you can do it from PHP 5.6 I think) you get a notice/warning because in `\vendor\cakephp\debug_kit\src\Template\Element\environment_panel.ctp` it is trying to print it through `<td><?= h($val) ?></td>`(line 34).

I guess one correct aproach would be to check if it is an array and if so use something like `print_r()`

![capture](https://cloud.githubusercontent.c

[2016-01-15 02:09] markstory commented on #401
Normally I would do a pull request, but I pushed a fix for this to master in ca07485 like a muppet.

[2016-01-15 02:09] #401 closed

[2016-01-21 14:39] tersmitten opened #402 "Add panel for "Cache log""
A few days ago we were debugging something and we thought that it would be really helpful for debug_kit to have a "Cache log" panel just like the SQL log.
- "Queries" would be cache keys
- "Affected", "Num. rows", "Took (ms)" can be remove
- Actions would contain an option to show the cache value

What do you think about the idea and how difficult would it be to build it?

[2016-01-21 14:50] markstory commented on #402
I can see how a cache 'query' panel could be helpful. We already have a proxy that counts operations to cache backends. Tracking which keys are being manipulated shouldn't be very hard.

[2016-01-21 15:07] tersmitten commented on #402
You are talking about CakePHP 3 right?

[2016-01-21 17:52] markstory commented on #402
@tersmitten I am.

[2016-01-30 21:00] markstory commented on #338
I took a look and this seems to have been resolved in or before 3.2.5

[2016-01-30 21:00] #338 closed

[2016-02-04 14:51] ashurai123 commented on #166
I encountered same problem, and fixed it. the fixed was only permission issue on DebugKit Directory, give it permission 755 and restart your server, it will start executing. Thanks

[2016-02-15 16:36] chrisShick opened #405 "Bootstrap-3.3.6 error in debug kit?"
Hey guys,
I'm curious if there was something new added to the debug kit. I decided to start creating some new ideas with 3.2.x, the most updated version. I included the crud and bootstrap ui plugins and then baked a controller and templates. I keep getting a file include error along the lines of

[2016-02-15 16:54] chrisShick commented on #405
I redid my in

[2016-02-15 16:54] #405 closed

[2016-02-15 16:55] chrisShick commented on #405
I deleted and redid my installation of the project and the error is no longer there. I am unsure of what caused the issue. I cannot seem to replicate it now.

[2016-03-04 15:47] xavier83ar opened #406 "debug kit seems to use user defined Inflections when it creates sqlite tables then fails to read it."
It seems that debug kit is using user defined Inflection rules when it creates sqlite data base but then when it needs to read it, it ignores inflections (or that's what I think) so it fails because it cannot describe tables.

To reproduce this issue, install a fresh new cakephp project with composer (debug_kit should get installed), then edit `config/bootstrap.php` and add this lines:

[code]

Af

[2016-03-04 17:59] markstory commented on #406
I suspect the process of fixtures -> table generation uses inflections when it shouldn't.

[2016-03-06 01:54] markstory commented on #406
Pull request up now.

[2016-03-06 01:54] #406 closed

[2016-03-09 09:23] danilort opened #408 "Panel SQL logs"
Hello,
I installed DebugKit (manual installation) and I enabled the plugin, following your documentation, but the "SQL logs" does not work.

See:
[BUG DebugKit SQL log.pdf](https://github.com/cakephp/debug_kit/files/164816/BUG.DebugKit.SQL.log.pdf)

[2016-03-09 10:23] ravage84 commented on #408
Have you removed this line?

https://github.com/cakephp/cakephp/blob/2.8.1/app/View/Layouts/default.ctp#L61

[2016-03-09 15:48] markstory commented on #408
SQL logs work fine in the applications I have. I suspect you've not removed the logs in your layout, or that your page has no queries. Removing the layout code is [mentioned in the install/setup section](https://github.com/cakephp/debug_kit/tree/2.2#enable-plugin) of the docs.

[2016-03-09 15:48] #408 closed

[2016-03-10 07:47] danilort commented on #408
Yes, I had commented this row.
Now I have deleted the row, and it works.
Thank you.

I advise you to change the documentation, you must use:
Configure::write('debug', 2);        //not 1

[2016-03-16 11:24] ypnos-web opened #411 "Standalone version of toolbar"
For me, DebugKit is vital for debugging especially in the case of AJAX. As in theses cases I typically get the correct result, or just no result at all (`json_encode()` just fails).

Now how do you debug AJAX requests via DebugKit? You need to reload the page and then use the History panel. So what I do, is having a second tab with an unrelated page, which I refresh after doing some troublesome XH

[2016-03-16 13:05] ravage84 commented on #411
Have you ever had a look at the (Firefox) development console, when you have installed DebugKit and do an AJAX call? :smirk_cat:

[2016-03-16 13:10] dereuromark commented on #411
Or chrome developer toolbar :) For that matter. Both developer friendly browsers come with it almost out of the box and very powerful ajax debugging tools.

[2016-03-16 13:20] ypnos-web commented on #411
Thanks for your comments, I use the chrome developer toolbar all the time and look at the network traffic to debug XHR responses. However am I missing an interaction between the Chrome debugging and debug_kit?

So naive question: Having debug_kit enable, how would I use the Chrome debugging to have a look at SQL querys?

[2016-03-16 14:03] ravage84 commented on #411
You don't see something like this?

![debugkit_console](https://cloud.githubusercontent.com/assets/625761/13814831/29f4d114-eb88-11e5-80bb-b5b861941b76.png)

[2016-03-16 15:15] ypnos-web commented on #411
Ok so this is Firebug and not the built-in console. I installed Firebug. But the Fireburg console just stays empty, for whatever reason.

[2016-03-16 15:27] ravage84 commented on #411
May be add:
[code]

[2016-03-16 15:36] ypnos-web commented on #411
I am using CakePHP 3.x.

[2016-03-16 15:38] dakota commented on #411
@ypnos-web DebugKit 3 already catches all ajax requests on the current view

[2016-03-16 15:40] dakota commented on #411
![image](https://cloud.githubusercontent.com/assets/83255/13818323/1c5a63f0-eb9e-11e5-92f0-9ead06f8c495.png)

![image](https://cloud.githubusercontent.com/assets/83255/13818332/252e6134-eb9e-11e5-8efb-99b594fc6105.png)

Clicking on it will load the details for that request.

[2016-03-16 15:48] ypnos-web commented on #411
Yes it does! It didn't work before and I never realized it changed.

I still think what I propose would be useful (esp. the divided view with history vs the other tabs) but the need for it is not as imminent anymore.

Thanks for your patience.

[2016-03-16 19:50] markstory commented on #411
If you have an idea on how to make the divided view work a pull request would be great. Closing this issue as the core ask (XHR debugging) already works.

[2016-03-16 19:50] #411 closed

[2016-04-06 09:24] berarma opened #413 "PDOException triggers fatal error: Call to undefined method Cake\Database\Query::toArray()"
I've found that a SQL error in the count query of the paginator component triggers this fatal error in the following line:
https://github.com/cakephp/debug_kit/blob/83467f84857484ac3bc6579d2ca84b5de8ef7a2e/src/Panel/VariablesPanel.php#L76

As fas as can understand, the _PDOException_ contains a trace with a _Cake\Database\Query_ object. The code checks for this type of object and then calls the me

[2016-04-07 00:43] markstory commented on #413
Your fix sounds reasonable to me.

[2016-04-08 13:58] p-try opened #414 "Iframe does not expand"
I am experiencing the issue that the Debug Kit iframe does not expand when I click on it. It stays in its original size (40 by 40 pixels). Debug Kit itself is working perfectly. When I manipulate the HTML using my web browser developer tools to expand the iframe, everything is fine.

Browser: Mozilla Firefox 45.0.1
CakePHP 3.2.6
Debug Kit 3.2.7
Windows 7

![unbenannt](https://cloud.githubuserconte

[2016-04-08 17:25] markstory commented on #414
How can someone reproduce this? Without a way to reproduce no fixes can really be done.

[2016-04-09 03:07] #413 closed

[2016-04-11 11:11] p-try commented on #414
You are right, I am sorry. If I had tried to reproduce it with a new app in the first place, I would have got to the bottom of the problem right away.
My app is behind a reverse proxy to make it available from outside our network. When I access it via the proxy, DebugKit uses the original server hostname for the iframe src attribute. Due to XSS restrictions, DebugKit is not able to modify the ifra

[2016-04-11 17:05] Marlinc commented on #414
I actually had the same issue, the following code is what's causing it: https://github.com/cakephp/debug_kit/blob/master/src/Routing/Filter/DebugBarFilter.php#L235-L236

[2016-04-11 19:02] markstory commented on #414
@Marlinc That code is just emitting a script tag. How is that the problem? It sounds like an iframe sandboxing issue which isn't something I can fix.

[2016-04-11 20:39] Marlinc commented on #414
Yes I know @markstory :smile:, the issue is that hostname that's detected is wrong.

[2016-04-11 23:20] markstory commented on #414
Which hostname is being detected incorrectly?

[2016-04-12 07:30] Marlinc commented on #414
In my case it wasn't an issue with CakePHP. It had to define `fullBaseUrl` in my application.

[2016-04-12 08:21] p-try commented on #414
Thank you! How can I be so stupid? That fixes it alright.

[2016-04-12 08:22] #414 closed

[2016-04-14 01:12] markstory opened #416 "Include a standalone AjaxView"
Leaning on the AjaxView that come bundled in the Application is problematic becuase developers can change either the AjaxView or its parent classes in ways that are not compatible with DebugKit. Having a standalone view class will allow debugkit to exist in hostile applications. See cakephp/app#366.

[2016-04-14 03:07] markstory commented on #416
Pull request open now.

[2016-04-14 03:07] #416 closed

[2016-05-03 18:26] zgambino opened #418 "Debug Kit suddenly throwing errors..."
I recently updated CakePHP using composer and now on every request I'm getting the following error:
[code]

After hours of troubleshooting, I discovered that the issue goes away when I disable DebugKit in my bootstrap.

I'm using CakePHP 3 and DebugKit 3.2.8.
I tried rolling back to 3.2.7, but haven't had any luck getting rid of the error.
I can't 100% verify that this is an issue related to Debug

[2016-05-03 18:58] josegonzalez commented on #418
What datasource are you using for the debugkit?

[2016-05-03 19:41] zgambino commented on #418
Whatever the built-in one is. I'm pretty sure it's using sqlite due to the tmp file it creates.

[2016-05-03 19:42] zgambino commented on #418
But for my main app, I'm using PostgreSQL.

[2016-05-03 21:24] markstory commented on #418
Delete your `debug_kit.sqlite` file.

[2016-05-03 21:24] #418 closed

[2016-05-20 14:54] pgmassari opened #419 "paginate() doesn't show entities in variables tab"
I noticed the following (CakePhp 3.2.5, DebugKit 3.2.8, controller: products, action: index):

With:
[code]

in the Variables panel, only the count is shown.

![screenshot-localhost 2016-05-20 15-57-46](https://cloud.githubusercontent.com/assets/5167784/15431678/3a5ee890-1eab-11e6-8d76-68fde21b710e.png)

While with:
[code]

in the Variables panel, the full result set is present.

![screenshot-loca

[2016-05-26 12:16] markstory commented on #419
I wasn't able to reproduce this with CakePHP 3.2.9 and and DebugKit 3.2.8. Do you happen to have any `resultFormatter()` methods being applied? The output you're seeing matches how DebugKit outputs instances of `Cake\Collection\Collection`. If you are doing some post-processing on your results, then what you're seeing is expected.

[2016-05-26 12:16] #419 closed

[2016-05-26 13:19] pgmassari commented on #419
I don't explicitly apply any `resultFormatter()`

So, it's my understanding that since `paginate` invokes `all()`
https://github.com/cakephp/cakephp/blob/master/src/Controller/Component/PaginatorComponent.php#L171
http://api.cakephp.org/3.2/class-Cake.Datasource.QueryTrait.html#_all

DebugKit will only show the count of the result set. Correct?

[2016-05-26 13:42] markstory commented on #419
Interesting, normally DebugKit will [iterate ResultSet objects](https://github.com/cakephp/debug_kit/blob/master/src/Panel/VariablesPanel.php#L75).

[2016-05-26 14:07] pgmassari commented on #419
I tried to change that line as follows:

[code]

and DebugKit iterates as expected. Could this be a viable solution?

[2016-05-26 22:33] markstory commented on #419
Yes that could work, I don't remember why we don't already capture `Collection`. It might have something to do with how streaming objects work.

[2016-05-27 13:22] pgmassari commented on #419
Nice. Should I open a pull request?

[2016-05-27 13:23] markstory commented on #419
@pgmassari That would be great :+1:

[2016-05-31 08:59] arilia opened #423 "panel using default layout instead of panel.ctp"
after upgrading to 3.2.9 I see that when panels are loaded they use my default layout.cpt instead of panel.ctp thus loading all my css and scripts and compromising the panel layout

I guess that it's caused by [this](https://github.com/cakephp/debug_kit/commit/bcf8b1a8cd2b56d32985d6759e2874ef95f89336) commit

But maybe it's instead related to my code. In that case I apologize but I also ask help t

[2016-05-31 09:44] arilia commented on #423
Don't remember why but after a bit of investigation I foud that I had modified my AjaxView class and the issue was in there. I reverted to the original one and now it works.

[2016-05-31 09:44] #423 closed

[2016-06-02 18:36] raul338 opened #424 "wrong file grouping in Include panel in windows"
Using debug_kit in windows (w/apache) i'm getting this list in the include panel
[code]
I solved changing the hardcoded `'/'` to `DS` constant in [IncludePanel.php#L170](https://github.com/cakephp/debug_kit/blob/master/src/Panel/IncludePanel.php#L170) (also in _niceFilename)
[code]
I didn't make a pull request because I can't test it in linux for now

Also I'm using plugins and always shows as emp

[2016-06-03 02:15] markstory commented on #424
Pull request open now.

[2016-06-03 02:15] #424 closed

[2016-06-09 10:17] riconeitzel commented on #388
same here … running it on MAMP with php5.6 with xdebug – only turning off xdebug works :-/

[2016-07-14 23:59] wilecoyte78 opened #429 "CakePHP v3.2.12 http://test/debug_kit/js/toolbar.js 404 (Not Found)"
in CakePHP v3.2.12

I get GET http://test/debug_kit/js/toolbar.js 404 (Not Found)

When I try this:
cd webroot
ln -s ../vendor/cakephp/debug_kit/webroot debug_kit

I get this:

toolbar.js:53 GET http://test/debug_kit/toolbar/b977c7b2-a414-4970-8ac3-ef48e3e8982e 404 (Not Found)

[2016-07-15 01:16] markstory commented on #429
How can someone reproduce this? How did you install the plugin?

[2016-07-15 02:18] wilecoyte78 commented on #429
By doing a fresh install of cake composer self-update && composer create-project --prefer-dist cakephp/app test

[2016-07-15 02:26] wilecoyte78 commented on #429
I am using Ubuntu 16.04 php 7.04 Apache 2.4.18 MySQL 5.7.12

[2016-07-15 14:37] markstory commented on #429
@wilecoyte78 I don't know what's going on then.

[2016-07-15 19:36] wilecoyte78 commented on #429
Neither do I because this is a fresh install of Ubuntu, Apache2, PHP 7, and CakePHP. I have the exact same setup on a previous computer that I set up months ago without any issues. Exactly the same computer. distro, apache, php, the only difference now it that its a dual boot computer. The are different cake version and the old computer works fine. Even when I upgrade the old computer to the newes

[2016-07-15 23:30] wilecoyte78 commented on #429
I did one other thing to see if it would work bin/cake server

The debug kit works perfectly without any issues. I really need it work when I put my site live using a domain name.

This is my .conf file: When I have it go live I will be changing the server name

<VirtualHost *:80>
	ServerAdmin webmaster@localhost
	ServerName test
	DocumentRoot /var/www/html/test/webroot
	ErrorLog /var/www/logs/tes

[2016-07-16 02:14] markstory commented on #429
Given that you have one site working on that machine with the same versions of libraries, I suspect there is a configuration issue you need to sort out.

[2016-07-16 02:14] #429 closed

[2016-07-16 17:05] danielzzz opened #430 "third party panels list"
hi, it would be great if there was a maintained list of third party panels for debug kit.
I'd like to have a panel showing X last entries from the log (not just for the current request), but before reinventing the wheel, maybe someone made it already (google not helping).
Having a curated list of panels would be really helpful...

thanks, dan

[2016-07-17 01:45] markstory commented on #430
Sounds great! Do you know of any panels? Because I don't :smile:

[2016-07-17 10:04] danielzzz commented on #430
:D
for starters, I found these:
https://github.com/wa0x6e/DebugKitEx
https://github.com/dorxy/debug_http (this is similar to the history panel)
https://github.com/mcurry/interactive (this one seems a bit old, not sure if outdated)

Maybe if you encourage people to actually let you know if they develop new panels, something else pops up ;)

cheers! dan

[2016-07-17 14:22] markstory commented on #430
If you have the time, a pull request to update the `README.md` would be greatly appreciated :smile:

[2016-07-18 12:12] bobmulder opened #431 "DebugKit not compatible with CakePHP 3.3.0-beta"
Hi all,

Trying Cake 3.3.0-beta gave me the issue that DebugKit isn't working properly. I've loaded the plugin, but the tab isn't showing on the pages. It's hard for me to find the issue, but for now I blame the upgrade to 3.3.0-beta because of the following:

The `DebugBarFilter` class implements the following methods which are responsible for showing the debug tab on pages: `beforeDispatch` (for

[2016-07-18 12:23] ADmad commented on #431
Upgrade to `3.3.0-beta2`.

[2016-07-18 12:23] #431 closed

[2016-07-18 12:25] bobmulder commented on #431
Thanks @ADmad, I missed the new beta release.

[2016-07-18 12:28] ADmad commented on #431
It hasn't been announced yet, week is just starting in US :)

[2016-07-19 17:58] wilecoyte78 commented on #429
Sorry about that I forgot to put AllowOverride All in my conf file for the directory

[2016-07-26 08:54] enmacc opened #432 "if I use debugkit a personal log file is not written"
Error.log and debug.log yes. I have to remove debugkit from components in AppController to get the application write on my activity.log file. I use cakephp version  2.4.10, debugkit version 2.2.6 and PHP 5.4.45-3 version. Thank you in advance. Greetings.

By example, in this code:

[code]

If i use debugkit the file log 'activity' is not written. If i remove it from component , the log is written

[2016-07-28 01:59] markstory commented on #432
Can you try upgrading your CakePHP version? I wasn't able to reproduce this on the latest CakePHP release. How are you connecting your loggers?

I used:

[code]

[2016-08-06 01:54] #432 closed

[2016-08-25 23:15] Aerue opened #435 "Missing nginx configuration when expires is set"
I have set my nginx configuration to audit my website with cache, but debug_kit not work if I send js, css and images with cache...

I have taken this example for my nginx expires configuration : https://serversforhackers.com/nginx-caching

Maybe he should be great to have this example in the doc and tell how to configure for working with debug_kit for tests purpores.

[2016-08-25 23:59] markstory commented on #435
What doesn't work when nginx is serving the assets? Do the requests 404, or are there errors in the javascript console?

[2016-08-26 00:13] Aerue commented on #435
The request does a 404

[2016-08-26 00:25] markstory commented on #435
So you'll have to figure out how to configure nginx so that the requests don't 404. :smile:

[2016-08-26 01:26] Aerue commented on #435
Yeah I gonna check more the doc tomoroww, but like the doc says infos about how configure cakePHP to nginx, i think it should be a nice feature to update the doc and talk about configuring nginx to cakephp with expires (cache). ?

[2016-08-26 01:52] markstory commented on #435
I'm not sure the CakePHP docs are the best place to be describing nginx configuration, as I don't think there would be much specific to CakePHP, unless I'm not understanding something.

[2016-08-26 10:54] Aerue commented on #435
CakePHP provide informations about nginx configuration : http://book.cakephp.org/3.0/en/installation.html#nginx

Which is quite good for me, I just send the link at my admin system to get my config, having configurations about gzip / expires should be an extras, and not quite necessary ?

[2016-08-26 14:28] markstory commented on #435
@Aerue My concern with including caching headers is that cache durations and strategies can vary quite a bit depending on the application requirements.

[2016-09-02 16:57] maxmasetti opened #438 "can't load cake.icon.png"
actually only that: 200 ok but "no respose data"

[2016-09-03 01:39] markstory commented on #438
How can someone reproduce this? The file is in the repo and zipballs from github.

[2016-09-03 10:16] maxmasetti commented on #438
digging deep I found that dowloaded file via wget is same length but "different" nature:
[code]
trying to get more info...

[2016-09-03 10:46] maxmasetti commented on #438
mmm... the two file are quite similar but the downloaded one begins with a 0x0a (\n) alien char and conversely lacks the last byte.

[2016-09-03 15:59] maxmasetti commented on #438
and now... magically all works correctly.
don't know.
beg your pardon

[2016-09-03 15:59] #438 closed

[2016-09-05 13:34] dereuromark commented on #430
:+1: PR for readme

[2016-09-06 10:45] ravage84 commented on #430
We could mention the list or link to the list in the [DebugKit cookbook section](http://book.cakephp.org/3.0/en/debug-kit.html), too

[2016-09-09 09:25] danielzzz opened #442 "time difference between timer and the total response time"
hi, sorry if this is a wrong place to ask but I am trying to find out why my app is getting slow occasionally.

from debugkit I'm getting the total request time 5 secs but the total waiting time in chrome console is 12 secs.
this is on localhost so the actual download time is a couple of milliseconds.

another case is when the total request time is XXX secs, but the lines below don't sum up to thi

[2016-09-09 17:11] markstory commented on #442
DebugKit often takes quite a while to do its work. It shouldn't be adding 7 seconds though. Furthermore there is DNS, SSL negotiation, network transfer.

The timer bars won't sum up as there are a number of code sections that DebugKit can't inject timers into.

[2016-09-09 17:12] markstory commented on #442
If you're looking for more indepth profiling data you might want to look at tools like xhprof/xhgui or services like tideways/blackfire.io

[2016-09-10 00:42] danielzzz commented on #442
I am quite confident it's not a network problem (it shouldn't be on localhost anyway, should it?)
The script itself should be ok, too -as it works perfectly on an external server.
I will play with xdebug, maybe it catches something, but I suspect it must be something related to the environment - maybe docker itself (but it worked perfectly until now) or maybe the hd is failing..

thanks anyway, da

[2016-09-10 01:50] markstory commented on #442
I didn't know you were testing over localhost :smile:

[2016-09-10 09:01] danielzzz commented on #442
yes, I said it in my first comment ;)
I know some people were having disk speed problems when using docker (I had some with virtual box), but it was mostly on osx and win (I'm on linux). And here everything was working perfectly until very recent...
Checking "top" on the apache and mysql boxes doesn't show anything unusual and the sql queries themselves are executed pretty fast. Then the system go

[2016-09-10 14:50] markstory commented on #442
Derp so it was, my mistake.

[2016-09-10 14:59] lorenzo commented on #442
@danielzzz In my experience the time comes from connecting to a database or a cache server. That happens before debugkit starts the timer

[2016-09-12 13:15] danielzzz commented on #442
@lorenzo thanks, I will check it

[2016-09-12 16:36] markstory commented on #442
Closing as I don't think there is anything to be done here. Timers work, and there have always been and likely always will be gaps as we don't instrument everything.

[2016-09-12 16:36] #442 closed

[2016-09-12 17:24] danielzzz commented on #442
The only thing  I can think of that might improve the readings is to have the gaps listed somewhere in the detail list below the total time. Like when the total time is for ex. 10 secs and then the items below don't sum up to this value.

[2016-09-14 07:16] ikkysleepy opened #444 "Doesn't work if root dir incldues index.php"
Server Doesn't allow Rewrite, so I need to include index.php in the url. This breaks Debug Kit because it doesn't include index.php in the urls it's alling.

[2016-09-15 01:23] markstory commented on #444
Would you be willing to submit a pull request to help fix this?

[2016-09-20 17:31] markstory opened #445 "SQL log does not contain binded values, only placeholders"
_From @mirorac on September 20, 2016 11:13_

This is a:
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: 3.3.3
- Platform and Target: -
### What you did

Screenshot of SQL log from debug panel - one request. Screenshot _is not_ result of merging two different screenshots.
![screen shot 2016-09-19 at 17 58 05](https://cloud.githubusercontent.com/assets/8964866/18667931/

[2016-09-20 17:31] markstory commented on #445
_From @lorenzo on September 20, 2016 11:30_

How can we reproduce this problem?

[2016-09-20 17:31] markstory commented on #445
_From @mirorac on September 20, 2016 11:45_

I am sorry, I do not know what is the root of problem. I have tried to solve it but no results so far.

I have application which has been built on version 3.2.13 and I noticed this issue right after updating to 3.3.3. Before update, I am sure there were no placeholders in sql log. I use this panel quiet often.

So there are no placeholders in your sql l

[2016-09-20 17:31] markstory commented on #445
_From @lorenzo on September 20, 2016 12:19_

No, problem... finding the root of the problem is not what I'm asking for, only a way I can test this myself. I have a couple cake 3 applications and haven't seen this so far, so I was hoping for some guidance on how to trigger this error.

[2016-09-20 23:24] thinkingmedia commented on #445
It appears to be just an issue with the `IN` clauses and arrays.

[2016-09-21 13:49] ferrassi opened #447 "Error: Serialization of 'Closure' is not allowed"
Hi,
in CakePHP v2.5.6
PHP 5.5.12
DubugKit 2.2

I have this error :
Erreur 500

Error: Serialization of 'Closure' is not allowed
File: D:\projects\cms\new\lib\Cake\Cache\Engine\FileEngine.php
Line: 128
Stack Trace

[code]

[2016-09-21 16:11] markstory commented on #447
How can someone reproduce this issue?

[2016-09-21 16:37] ferrassi commented on #447
just install DubugKit 2.2 in CakePHP v2.5.6

[2016-09-22 04:11] markstory commented on #447
Ok. From the stacktrace something in your application is causing a closure to end up in the data DebugKit is trying to cache. Are you passing any closures into the view?

[2016-09-22 09:21] maxmasetti opened #449 "Won't load!!!"
version 3.3.3 won't load. revert to 3.3.2 and now goes

[2016-09-22 09:37] ravage84 commented on #449
OMG! It's so HELPFUL to add **3** exclamation marks to the subject.
And even better, a one liner will most certainly help us to help you :smiling_imp:

[2016-09-22 09:38] ravage84 commented on #449
OMG! It's so HELPFUL to add **3** exclamation marks to the subject.
And even better, a one liner will most certainly help us to help you :smiling_imp:

[2016-09-22 09:43] maxmasetti commented on #449
hi, don't know what I can do: simply won't show anything in the browser. no error in the log. required previous version and all is ok. If you have got any advice or test to do, your welcome

[2016-09-22 10:27] lorenzo commented on #449
Please join us in the irc or slack channel and we will help you :)

[2016-09-22 10:27] #449 closed

[2016-09-23 04:20] cniklas opened #450 "DebugKit not compatible with CakePHP v2.9"
Got this error in my console when trying to use the i18n Shell:
[code]
In the CakePHP 2.9.0 release log it says:

Guess there's the rub.

I then changed line 22 in DebugKit\Model\ToolbarAccess.php to:
`class ToolbarAccess extends CakeObject`
Now it seems to work, but can someone please prove my soluton and submit a fix here?

[2016-09-23 18:20] markstory commented on #450
Sounds like we're missing an App::use() call in CakePHP core. I suspect there are many plugins that rely on `Object` existing automatically.

[2016-09-23 18:23] markstory commented on #450
I think this is a gap in CakePHP core. I've opened a pull request to fix the problem there.

[2016-09-23 18:23] #450 closed

[2016-09-27 12:03] nrother opened #452 "Streamed body request cause multiple problems"
This is somewhat related to cakephp/cakephp#9408.

This code causes a warning to be emitted:
[code]
The warning is `strrpos() expects parameter 1 to be string, object given [ROOT/vendor/cakephp/debug_kit/src/Routing/Filter/DebugBarFilter.php, line 232]`

I also get a `RuntimeException` with message `Unable to emit response; headers already sent`, but I'm not completely sure if this is related. The

[2016-09-28 02:52] markstory commented on #452
This error isn't related to cakephp/cakephp#9408, and has been hiding out since streaming responses were added, nice find :clap:

Closing as a pull request is open.

[2016-09-28 02:52] #452 closed

[2016-10-11 15:01] markstory opened #455 "Fix JS linting to not be spammy"
Either fix the stickler-ci rules, or re-indent the files so jscs doesn't complain about the js files.

[2016-10-12 01:24] #455 closed

[2016-10-12 07:54] andrej-griniuk opened #457 "Routes panel"
https://github.com/andrej-griniuk/cakephp-debug-routes
Happy to contribute it to the core if you guys like it.
It super simple at the moment, does pretty much same thing `bin/cake routes` does, but any suggestions welcome.

[2016-10-12 15:44] markstory commented on #457
Sounds good to me.

[2016-10-13 17:27] makamo opened #458 "Uncaught Exception: Serialization of 'Closure' is not allowed when i trow exceptions"
I have a problem with debugkit when i use php7 but if i use php5.6 its work fine.

This is the [error](http://pastebin.com/5pj0RyGV) i have when its trow exception or fatal error.

And this is the real [error](http://pastebin.com/cX4Ys0pQ) after i disable debugkit.
`//Plugin::load('DebugKit', ['bootstrap' => true, 'routes' => true]);`

My Dev Configuration

[2016-10-13 19:04] markstory commented on #458
Duplicate of #447

[2016-10-13 19:05] markstory commented on #458
How can someone reproduce this issue?

[2016-11-05 15:30] dorxy opened #462 "TimerPanel.php:35 I18n extraction"
I'm getting the following error when using the I18n extract task for DebugKit:

`Invalid marker content in /my-project/vendor/cakephp/debug_kit/src/Panel/TimerPanel.php:35 * __d('debug_kit',$name)`

Might be worth to to fix in an upcoming version :)
(not sure how yet, that's why I didn't do a PR)

[2016-11-15 13:19] whatchado opened #463 "Change settings on the fly"
Is it possible to change which panels are loaded on the fly? For instance, in some actions of a particular controller I use a component and have a custom panel specific to this component. Can I load my custom panel only when I use the component?

[2016-11-15 13:24] dereuromark commented on #463
You can do that in initialize() callback in each controller before the component is loaded afaik.

[2016-11-15 21:37] markstory commented on #463
I don't think there is an easy way to load a panel on the fly. It isn't as easy as it may initially seem because panels may need to setup additional listeners/hooks that may have already happened.

[2016-11-16 11:22] BassemN opened #464 "Where is EXPLAIN in 3.x version?"
I can't see the EXPLAIN button on SQL queries, It was visible in version 2.x

[2016-11-16 11:24] dereuromark commented on #464
Refs https://github.com/cakephp/debug_kit/pull/439

[2016-11-16 11:31] BassemN commented on #464
Why this PR closed and what is the roadmap for this essential feature when debugging? and how can I implement it for now into my app?

[2016-11-16 12:27] chinpei215 commented on #464
@BassemN Because my proposed PR (https://github.com/cakephp/cakephp/pull/9421) wasn't approved.

As a background, I opened the PR after I saw [this tweet](https://twitter.com/shinichi399/status/770826994137255936). You would be surprised if you tweeted something about CakePHP and if it realized a few days later. However, too much time has passed after he tweeted. There is no longer surprise. So it

[2016-11-16 12:33] half2me commented on #392
@ethanpooley How did you get rid of the Missing Plugin error message for DebugKit on Heroku?

[2016-11-16 14:29] BassemN commented on #464
@dereuromark @chinpei215 @thinkingmedia  I think this is a critical issue and we should implement it ASAP

[2016-11-16 20:12] markstory commented on #464
@BassemN Pull requests are welcome :smile:

[2016-11-16 20:24] dereuromark commented on #464
@BassemN I do not agree with your assessment. This is never a critical feature, a "nice to have" one maybe.
You can right now already copy and paste the queries into any SQL tool of your choice - and get the desired results.
But of course a PR here to implement it would be very welcome none the less, as others mentioned.

[2016-11-16 20:30] BassemN commented on #464
@markstory @dereuromark  I'm not expert like you in CakePHP but I see that @chinpei215 already did a great job here #439 and I hope to see this merged.

[2016-11-16 20:54] thinkingmedia opened #465 "Allow the debug bar to track AJAX/JSON requests by front-end JavaScript"
Has there every been any discussion about extending the debug_kit to track data made by JavaScript AJAX calls from the front-end to the back-end.

I have an AngularJS application that makes a lot of JSON requests. I can see something where there is a panel to see all tracked AJAX calls and selecting one switches the panels to that request.

What are the technical challenges in supporting such a fe

[2016-11-16 21:02] thinkingmedia commented on #464
@BassemN the database layer used in Cake 3 was completely rewritten. Unfortunately this feature requires that changes are made to the database drivers, and any make changes in that part of the code is something we do slowly and carefully.

There is a project for database improvements in the Cake 3.4 release. This feature has been schedule in the back log of things to do.

https://github.com/cakeph

[2016-11-16 21:08] BassemN commented on #464
@thinkingmedia Thank you for your clear and helpful explanation for this feature roadmap :+1:

[2016-11-17 02:28] markstory commented on #465
We already track XHR requests and update the History panel, but what did you have in mind that the native browser tools don't already do?

[2016-11-17 13:07] thinkingmedia commented on #465
I need to see the SQL queries that were performed for the XHR request. If that is already supported, then this can be closed. I just assumed it didn't update.

[2016-11-17 13:22] half2me opened #466 "debug_kit config ignoring driver type"
I'm running my app on Heroku.
The DATABASE_URL env looks like this: `postgres://...`
I have changed my config/app.php to look like this:

[code]

The `default` is working fine, and my app can connect to the database, but when I enable debug mode, I get the following error: Database driver Cake\Database\Driver\Sqlite cannot be used due to a missing PHP extension or unmet dependency.
It seems like D

[2016-11-17 16:36] markstory commented on #465
Check the history panel, it should capture XHR requests, and let you look at the SQL queries that are being run.

[2016-11-17 16:39] markstory commented on #466
No idea. Is there a stack trace related to the error you're getting? Are you able to get what you'd expect out of
[code]

[2016-11-17 17:01] thinkingmedia commented on #465
awesome! thanks.

[2016-11-17 17:01] #465 closed

[2016-11-18 16:46] ethanpooley commented on #392
@half2me I didn't encounter one, that I recall. If you want to create a new issue around that and paste the whole error, I'll take a look at it.

[2016-11-19 11:24] half2me commented on #392
@ethanpooley It was in the `require-dev` section of my composer.json, and I didn't read over the heroku documentation properly, they install with `--no-dev` option.
However, I could not get debug_kit to properly use Postgres as storage. See my Issue here:
https://github.com/cakephp/debug_kit/issues/466#issuecomment-261298215

[2016-11-19 11:25] half2me commented on #466
@markstory I'll check on monday :)

[2016-11-19 18:29] ethanpooley commented on #466
@half2me I'm updating our stack right now, and once I'm done moving us forward to CakePHP 3.3.8 I'll return to my months-old project of moving Debug Kit onto PostgreSQL storage on Heroku. At that point I'll definitely try to come back here and report whether my experience intersects with yours in any way. Perhaps some code from my first attempt might be helpful too, though. I didn't rely on the ra

[2016-11-21 20:27] makamo commented on #458
i found the problem
when i get syntax error and i have xdebug enable
 in DebugBarFilter.php
around line 200
when the try to get data about 'Variables'
its return an array about the error
when the try to serialize ` $panel->data()['content']['error']­­­`
i get  **Uncaught Exception: Serialization of 'SplFileObject' is not allowed**
because `$panel->data()['content']['error']­­­` is `'error' => obje

[2016-11-21 22:07] makamo commented on #458
I found more explication

Its cause by the new Exception [ParseError](http://php.net/manual/en/class.parseerror.php) in php 7
and its cause by the trace created by xdebug who return sometime an object in her "args"

[2016-11-21 22:25] markstory commented on #458
Are you including an xdebug trace in your view variables? Or is there an error page for a ParseError being rendered?

[2016-11-22 13:16] half2me commented on #466
thanks @ethanpooley

[2016-11-22 14:29] half2me commented on #466
@markstory Looking at the error msg and toggling the parameters, I realized it was not having a problem with the debug_kit settings but the 'test' database. I have no idea why it was trying to load those, as I was not running unit tests, simply enabling debug mode.
Anyway, debug kit is not loaded, and running that command you sent me:
[code]
any idea?

[2016-11-22 18:11] makamo commented on #458
nop its just because in php7 when the debug kit check for getting variables its eval the code in controller and when there is a syntax error or other php error. the content of variable is transform in error

[2016-11-22 19:57] markstory commented on #458
Ok, so how could I reproduce this problem? I have a few apps in php7 and don't have this issue.

[2016-11-22 19:58] markstory commented on #466
Not really. Perhaps you could get a stack trace from where the test connection is being initialized and go from there?

[2016-11-22 21:50] makamo commented on #458
i am in Ubuntu 16 04 php7 with xdebug.
Me and my colleague have the same configuration and the same problem

[2016-11-22 21:54] makamo commented on #458
debug_kit version 3.3.4
cakephp version 3.3.5

and this is one methode a broke for reproduce the bug

`
public function batch($contrat_id)
    {
        $contrat = $this->ContratsHeurefacturables->Contrats->get(
            $contrat_id, [
                'contain' => ['HeuresFacturable'];
            ]
        );
        if ($this->request->is(['patch', 'post', 'put'])) {
            $contratsHeur

[2016-11-23 11:15] half2me commented on #466
@markstory I'll take a look at the stackTrace

[2016-11-23 11:51] arilia commented on #445
I confirm that I only see this behavior with the IN clause

this simple code triggers the problem

    $q = $this->Users->find()
            ->where([
                'name LIKE' => '%a%',
                'id IN' => [1,2,3,4,5]
            ])->all();

and in the SQL panel I see the placeholders for the IN clause but not for the LIKE clause

    WHERE
    (
        name like '%a%'
        AND id in

[2016-11-24 02:49] markstory commented on #458
Ok so it comes from a parse error in php7. I will try reproducing based on that.

[2016-11-24 09:42] arilia commented on #445
don't think it's a problem related just to debugKit, actually if I set `logQueries(true);` I see the same behavior in the log file, too.

[2016-11-25 03:39] markstory commented on #445
The root cause of this issue was in how `IN` clause placeholders were generated. I've put up a pull request to fix that issue.

[2016-11-25 03:39] #445 closed

[2016-12-04 05:06] markstory commented on #458
I tried to reproduce this and wasn't able to. I tried:

* Adding a parse error into a controller file - The error page rendered without any issues.
* Creating invalid SQL inside a closure to ensure that there was one on the call stack. In this case I also got a functioning error page. The code I used was
[code]
I also tried inserting a parse error in the above closure function, but wasn't able to

[2016-12-04 13:54] 1906sam commented on #385
Remove this line from your appController (for cakephp 3.x)
public $components = array('DebugKit.Toolbar');

It should work then.

[2016-12-31 11:05] luke83 opened #469 "warnings in cakephp 3.4.0-beta1"
**php**: 5.6.29
**cakephp**: 3.4.0-beta1 (cakephp/cakephp@d04f88ab5b7bc1576c0b153bc0f84dec7101fdfe)
**debug kit**: 3.3.5 (62edba7)

I got this warnings:

[code]

Detail for first warning (let me know if you need detail for all of them):
[code]

[2016-12-31 13:12] 2ndGAB commented on #266
Hello,
I have the same issue in 3.0.4 on ubuntu server and existing `use \PDO` causes the same issue.
Removing it smakes the error disappearing. Don't now if that cause something to not work...

[2016-12-31 15:21] markstory commented on #469
Closing as this is a dupe of cakephp/cakephp#9949

[2016-12-31 15:21] #469 closed

[2017-01-13 09:40] fquffio opened #471 "Fatal error with DebugKit 3.5.1 and CakePHP 3.3.x"
I just issued `composer update`, and I am getting this error:

[code]

I guess this is caused by a wrong requirement in `composer.json`: DebugKit 3.5.1 should require CakePHP ≥ 3.4.

_EDIT:_
My app has no special configuration: it just loads the `DebugKit` plugin as usual.
As a reference, here is my `composer info` output:
[code]

[2017-01-13 09:41] AdrienCS opened #472 "3.5.1 Fatal Error"
Updating debug-kit

[code]

Lead to
[code]

On all my CakePHP project.

[2017-01-13 09:43] AdrienCS commented on #472
Dupe #471

[2017-01-13 09:46] fquffio commented on #471
BTW, `composer create-project cakephp/app testapp` causes the same problem.

[2017-01-13 10:25] dhananjayve opened #473 "debug kit 3.2 error"
i have installed cakephp using composer
composer create-project --prefer-dist cakephp/app testapp

Installation was successful. but when i have open app in browser i got this error

Fatal error: Call to undefined method Cake\Network\Response::getBody() in \testapp\vendor\cakephp\debug_kit\src\ToolbarService.php on line 213

[2017-01-13 10:50] josegonzalez commented on #473
Duplicate of #471.

[2017-01-13 10:50] #473 closed

[2017-01-13 10:50] josegonzalez commented on #472
Duplicate of #471.

[2017-01-13 10:50] #472 closed

[2017-01-13 10:54] dhananjayve commented on #473
Thank you

[2017-01-13 11:10] RobbiNespu commented on #471
Faced same problem here after composer update, how to downgrade to old version for a while?

[2017-01-13 11:12] fquffio commented on #471
@RobbiNespu `composer require --dev cakephp/debug_kit='~3.2 !=3.5.1'` will make you skip the bugged version — and there should be no need to remember to remove the additional condition in the future. 😉

[2017-01-13 11:12] davalb commented on #471
@RobbiNespu
You can specify the exact version in your composer file like this

        "cakephp/debug_kit": "3.5.0",

and then run ```composer update``` again

[2017-01-13 12:44] antograssiot commented on #471
@markstory We can add a test suite that will run the tests against the lower dependencies version as we did for the migrations plugin. I could would help to catch those kind of regression maybe...?
I can take care of it if you wish

[2017-01-13 13:45] flashios09 opened #474 "Problem with raleway `Failed to decode downloaded font`"
Hi,

Recently i updated the framework(using the cakephp v3.4.0-beta4) and i have this warning in console:
![image](https://cloud.githubusercontent.com/assets/1313482/21931763/83f204d0-d99d-11e6-9a7b-c018fec0ef61.png)

I tried many browsers(Chrome, Safari, Firefox) always the same warning.
I tried the CakePHP dev server `bin/cake server`, the same warning.
I removed the **debug_kit** folder from **

[2017-01-13 13:51] mackoyph opened #475 "Fatal error: Call to undefined method Cake\Network\Response::getBody()"
Someone Can help, newly installed CakePHP web application has this error.

[2017-01-13 14:00] cleptric commented on #475
@mackoyph Have a look at this: #471

[2017-01-13 14:05] #475 closed

[2017-01-13 15:17] nrother opened #476 "Add an option to "flag" queries"
It would be nice if it would be possible to mark SQL queries in some way to find them in the Panel if there are many of them. Maybe one could abuse `applyOptions` for this:

[code]

Maybe queries could be even automatically tagged based on their origin (primary/secondary).

I tried a quick attempt to hack in this myself, but this seemed not that easy, unfortunately.

[2017-01-13 15:29] phpnut commented on #471
I have removed the 3.5.1 tag.

[2017-01-14 01:04] markstory commented on #471
Sorry everyone. I made a mistake last night and only tested against 3.4 before creating the tag. I should have opened a pull request but I was tired and not thinking straight. :blush:

[2017-01-14 01:08] markstory commented on #474
I will see if I can reproduce this. Is your webserver behind tls/ssl?

[2017-01-14 01:18] flashios09 commented on #474
@markstory

No, it's not.

[2017-01-15 10:09] lorenzo commented on #476
I like this idea

[2017-01-15 10:13] #471 closed

[2017-01-16 09:31] vonboth opened #479 "Fatal error: Call to undefined method Cake\Network\Response::getBody() in /.../vendor/cakephp/debug_kit/src/ToolbarService.php on line 213"
Since the last upgrade of cake via composer I get this error

Fatal error: Call to undefined method Cake\Network\Response::getBody() in /.../vendor/cakephp/debug_kit/src/ToolbarService.php on line 213

Cake: 3.3.12
Debug-Kit: 3.5.1

Current PHP-Versions: 5.6.19 as well as 7.0

[2017-01-16 09:42] antograssiot commented on #479
It should have been fixed already by #477.
Maybe we need to tag a new version, I'll have a look later today if no one's does before.

[2017-01-16 09:43] antograssiot commented on #479
@vonboth Meanwhile you can pin to 3.5.0

[2017-01-16 09:45] lorenzo commented on #479
I tagged a new version yesterday, please run a composer update

[2017-01-16 09:45] #479 closed

[2017-01-16 09:46] vonboth commented on #479
Thank you for the quick reply!
I searched for the issue but couldn't see ist. Sorry for that!
Cake is great because of this awesome support!!
Thanks guys

(By the way: did composer update this morning and the issue appeared just now)

[2017-01-18 12:06] nrother commented on #476
I just looked around a bit to see how this could be implement, but I haven't found a nice way yet. The `LoggedQuery` the panel has access to does not contain the original query Object, but only a query string. So I currently don't see a way to pass information from the app to debugkit without changing `LoggingStatement` in the core.

[2017-01-20 16:31] flashios09 commented on #474
@markstory
The symlink created via `bin/cake plugin assets symlink` solved the prob.
https://book.cakephp.org/3.0/en/deployment.html#improve-your-application-s-performance
PS:
Even with this **patch** and using debug_kit 3.6.0, i can't install the *raleway-regular.ttf* on my mac, always the same error on the same screenshot

[2017-01-20 16:37] markstory commented on #474
I got these font files from google's CDN so they might not work as system fonts, and I don't think providing people with installable raleway is a goal of ours.

[2017-01-20 16:37] #474 closed

[2017-01-20 17:01] flashios09 commented on #474
I don't care about installing the raleway font on my mac, i added this as an extra info.
The symlink solve the prob ;)
Thanks

[2017-01-22 18:26] siran opened #481 ""no such file or directory""
I am not still able to reproduce this, but wanted to report it.

Something happens, apparently with debug_kit, that ends up writing an invalid file:

[code]
Maybe it possibly my machine/server/setup? I don't know.

I'm using CakePHP 3.3, DebugKit ~3.2, Linux subsystem in Windows10 running Apache2 and PHP7.1

[2017-01-22 18:29] markstory commented on #481
Without a way to reproduce this, there isn't anything we can do.

[2017-01-22 18:29] #481 closed

[2017-01-22 20:09] siran opened #482 "variable's tab"
More of a "feature request" or "enhancement":

In the "variables tab", when inspecting a multilevel array variable, the opened branches are closed if one has to temporarily close and reopen Debug_kit's Variable tab (for example, to see the actual output of the webapp).

It would be nice if the opened branches remained open, and maybe have 'collapse all' link on the tab.

[2017-01-22 23:06] siran opened #483 "Fatal Memory Error"
While doing a migration (thousands of queries involved) and having debug_kit enabled, y got a Fatal Error

    Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes)
    in .../app/vendor/cakephp/cakephp/src/ORM/Query.php on line 213

After deactivating debug_kit and doing the migration again no error occurred.

[2017-01-23 00:54] markstory commented on #483
Well storing all the queries takes more memory. What are you hoping to see here as a resolution?

[2017-01-23 00:59] markstory commented on #482
Any idea on how you would implement that?

[2017-01-23 01:02] josegonzalez commented on #483
Why are you running a migration via the web?

[2017-01-23 13:59] ravage84 commented on #483
128 MB isn't *that* much if you really work a big data set...

[2017-01-23 14:10] thinkingmedia commented on #483
@josegonzalez he's not doing it via the web. `app/config/bootstrap.php` still loads debug_kit on the CLI.

Found this in `debug_kit/config/bootstrap.php`:

[code]

@markstory could the above this be the reason? Looks like something is configured even in CLI.

[2017-01-23 14:42] markstory commented on #483
@thinkingmedia Until the `loadPanels()` method is called the query logger should not be injected, so in CLI debug kit shouldn't be actively running. At least that was the original intent.

[2017-01-23 15:29] thinkingmedia commented on #483
@markstory thanks, disabling debug_kit likely freed enough memory and this issue is unrelated.

[2017-02-03 14:16] nrother opened #489 "Add configuration to disable/reorder panels"
Currently all default panels are always shown. With the recent addition of the new panels the list got so long that it overflows to the next line on my small monitor I usually keep firefox on.

As far as I can see one can add custom panels using the `DebugKit.panels` configuration, but there is no way to remove the default panels.

[2017-02-03 14:25] dereuromark commented on #489
I always thought

    'MyPanel' => false

would disable that one.
Maybe some docs missing if that works?
Otherwise I agree, this would be useful.

Reordering might be a bit more tricky.

[2017-02-03 14:29] lorenzo commented on #489
We just need to make the bar scroll horizontally on overflow

[2017-02-03 14:31] nrother commented on #489
Actually I also expected that to work, but it did not... [The code](https://github.com/cakephp/debug_kit/blob/master/src/ToolbarService.php#L134) also does not look like if that would be supported.

Horizontal scrolling isn't much better that vertical scrolling, both keep the variables panel, I use most often, out of reach :frowning:  (Actually I think that horizontal scrolling is worse...)

[2017-02-03 14:42] dereuromark commented on #489
@nrother You can make a PR to allow the disabling etc, should be a quick addition.

[2017-02-03 14:43] lorenzo commented on #489
@nrother we can also make the variables panel the first one as it is the most commonly used

[2017-02-03 14:54] nrother commented on #489
@dereuromark Actually I'm not quite sure how to do this in a elegant way... A simple
[code]
would not work if someone tries to add a panel while disabling another one (like `'panels' => ['Custom', 'DebugKit.Timers' => false]` because the panel name is now sometimes the key and sometimes the value... Is there an elegant way to solve this?

[2017-02-03 15:03] dereuromark commented on #489
Yes, other places in core and plugins check on the $panel being numeric here.
If so, then they are only values no key.

[2017-02-06 12:00] jtraulle commented on #379
Hi,

Sorry to reopen this but I am facing the exact same issue
[code]

Any idea ?

[2017-02-07 04:14] RobbiNespu opened #492 "SQLSTATE[HY000] [1049] Unknown database 'debug_kit'"
Hi there, I am getting this error, I don't know where to start troubleshoot the problem

[2017-02-07 05:11] antograssiot commented on #492
See https://book.cakephp.org/3.0/en/debug-kit.html#debugkit-storage or  https://github.com/cakephp/debug_kit#database-configuration
As stated in the doc, install SQLite or configure a debug_kit database.

[2017-02-07 05:11] #492 closed

[2017-02-07 08:23] saeideng opened #493 "dont show view time in timer panel"
Why we could not show veiw/element/cell render time within timer panel now?

[2017-02-07 08:25] saeideng commented on #493
I think this shown randomly

[2017-02-07 08:25] #493 closed

[2017-02-08 08:46] tenkoma opened #494 "Build url in template Previewing Mailer class will result in DebugKit plugin routing"
This is a bug in Mail Preview.

* Version CakePHP 3.3.14, DebugKit 3.8.0

### What you did

The code is as follows

[code]

[code]

[code]

### What happened

Occurred `Cake\Routing\Exception\MissingRouteException`. Error Message:

[code]

### What you expected to happen

Render url likes `http://example.com/pages`

### Temporary workaround

Include `'plugin' => false` in routing array.

[2017-02-11 21:00] markstory commented on #489
Closing as a pull request is open now.

[2017-02-11 21:00] #489 closed

[2017-02-13 17:07] allanmcarvalho opened #495 "Problem in generating translation file (i18n)"
When I am going to generate the global CakepPhp translation file the following error occurs:

[code]

[2017-02-13 17:44] dereuromark commented on #495
Yeah, those are not translatable. The script can only parse the ones without $var, actual strings.

[2017-02-13 21:06] #495 closed

[2017-02-14 03:01] akkaweb opened #496 "afterDispatch no firing"
This is a weird issue I am facing with DebugKit. It used to work before, but I am not sure when and why did it stop working.

After debugging the plugin itself I came to find out that `afterDispatch` was not firing for DebugKit. If I change ` 'priority' => 9999,` to ` 'priority' => 1,` in the following method, then DebugKit works fine.

` debug_kit/src/Routing/Filter/DebugBarFilter.php`

     publ

[2017-02-14 19:15] markstory commented on #496
Are you stopping the events anywhere? Stopped events won't get sent to all listeners.

[2017-02-15 13:59] nrother opened #498 "MailPreview has no method loadModel"
The demo code in the new mailer preview reads as follows:

[code]

I tried this code and got a fatal error because `MailPreview` has no `laodModel()` method.

[2017-02-15 14:00] palanza commented on #379
up same error

[2017-02-15 14:01] dereuromark commented on #498
You just have to add the ModelAwareTrait:

    use ModelAwareTrait;

[2017-02-15 14:06] nrother commented on #498
Yes, but this should be either in the demo code or in the `MailPreview` class. The current version of the demo code is just broken :smile:

[2017-02-15 14:30] lorenzo commented on #498
I can just add the trait

[2017-02-15 14:32] lorenzo commented on #379
@palanza check this answer https://github.com/cakephp/debug_kit/issues/379#issuecomment-146399825

[2017-02-15 14:45] jtraulle commented on #379
Thanks @lorenzo ; understood :wink:

[2017-02-15 22:12] akkaweb commented on #496
@markstory I am not, at least not knowingly. I do, however, have a couple custom events setup and I will look into those to see if any is causing this.

[2017-02-17 16:07] #498 closed

[2017-02-23 15:36] darxmac opened #501 "Mailer preview, preview iframe missing plugin query param when using MailerPreviews from plugin"
When using a MailerPreview from a plugin the iframe loading the preview does not get the plugin query param, and fails to find the correct MailerPreview class

[2017-02-24 02:10] markstory commented on #283
Closing as this is quite old and the 2.x branch isn't seeing much action these days.

[2017-02-24 02:10] #283 closed

[2017-02-24 02:10] markstory commented on #386
Closing as I think this has been fixed.

[2017-02-24 02:10] #386 closed

[2017-02-24 02:11] markstory commented on #457
Closing as there is a routes panel now.

[2017-02-24 02:11] #457 closed

[2017-02-24 12:06] ravage84 commented on #386
@markstory just for the records, I see no commit reference here. Wherre/how did this get fixed?

[2017-02-24 18:45] markstory commented on #386
No one else has reported similar issues so I assumed it had been fixed.

[2017-02-27 14:06] burzum opened #503 "Show a warning or throw an error if SQL Lite is not installed"
When setting up a new stage site we had the problem that debug kit was not showing up even the fact it was loaded and everything else was OK.

Just by checking Google if there are similar issues we found this
http://stackoverflow.com/questions/30063184/cakephp-debugkit-toolbar-not-visible

So basically installing SQL Lite solve the problem for us.

However, debug kit could have saved us some time

[2017-02-27 14:13] dereuromark commented on #503
It is already in suggest: https://github.com/cakephp/debug_kit/blob/master/composer.json#L48

[2017-02-27 14:38] markstory commented on #503
You don't *need* SQLite, you can either have SQLite setup, or configure a different database connection in your application configuration. We could raise an error if debug kit's connection is not valid though.

[2017-02-27 14:39] burzum commented on #503
That's all I'm asking for.

[2017-03-04 02:37] #458 closed

[2017-03-04 16:55] #501 closed

[2017-03-10 04:42] markstory opened #508 "DebugKit's SQL Log shows boolean values as 0 and 1, which PostgreSQL doesn't like"
_From @siran on March 10, 2017 4:37_

This is a (multiple allowed):

* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.4.2, DebugKit 3.9.2
* Platform and Target: PostgreSQL

### What you did
Any query involving boolean conditions

### What happened
When I see the generated query in DebugKit's SQL Log "true" values show as 1, "false" as 0... When I copy this query to

[2017-03-15 21:25] nhristov opened #509 "Undefined variable: packages in ComposerController.php line 93"
#When checking for package updates using the DebugKit toolbar I'm getting this error:

`Undefined variable: packages [ROOT/vendor/cakephp/debug_kit/src/Controller/ComposerController.php, line 93]`

Currently using 3.9.2

[2017-03-15 21:46] antograssiot commented on #509
What version of composer/composer is installed ?

[2017-03-15 21:52] nhristov commented on #509
Composer version 1.4.1

[2017-03-15 21:54] antograssiot commented on #509
I'ce fixed the issue in #510
I'llll try to update this code soon as composer can now issue json out of the outdated command.

[2017-03-15 21:54] #509 closed

[2017-03-17 11:17] gugleboot opened #511 "Enhancements for Request panel: new section with browser request header + History refresh without page reload"
Possible enhancement for Request panel - new section with browser request header??
some of this data is already in Environment panel but Request panel is used more often and it
would help to debug mobile connections to the website,  since you can't debug pages on mobiles without hassle (debug must be on to record everything on mobile devices, but switching panels is impossible, maybe prev / next p

[2017-03-17 13:20] markstory commented on #511
It currently captures XHR requests made from the page that debugkit is on. We can't catch all the requests though as we're not a browser tool.

some of this data is already in Environment panel but Request panel is used more often

Moving the request headers out of Enviroment and into the Request panel is something I've been considering but not had time to do. Same with making the layout responsiv

[2017-03-17 13:40] gugleboot commented on #511
Yes i'am aware of this, what i meant was - using many browsers + tools with debug on so all request are captured and having ability to just see refreshed History on one unused browser tab where debug kit was loaded before requests were made from other tools /browsers - simplifying reload/refresh for debug kit without making another request that will be logged in History panel - iframe reload maybe

[2017-03-17 15:18] markstory commented on #511
Reloading the history panel is in the realm of doable. Presently reloading the iframe should do the trick, but a UI control would be easier to use.

[2017-03-20 23:50] nhristov opened #512 "Data too long for column 'content' at row 1"
`SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'content' at row 1`

My fix was simple:
[code]

[2017-03-24 03:55] 34l opened #513 "History panel not tracking xhr requests"
Hi, I'm using CakePHP 3.4.3 and Debug_Kit 3.9.3, I love this tool, but this tool can't register XHR requests in history panel.

I'm begginer developer

[2017-03-24 13:50] 34l commented on #513
Hi, I don't have any error in my browser, I make my XHR request using the ajax function of JQUERY (usually), debug kit can't get, register and update this requests in history panel.
In CakePHP 3.3.15 I don't have this issue.

[2017-03-24 14:23] markstory commented on #513
Ok. When you're using 3.3.15 is the version of debugkit also different? The xhr tracking is done entirely in debugkit and the CakePHP version shouldn't be that impactful.

[2017-03-24 15:13] 34l commented on #513
In my CakePHP 3.3.15 project I'm using debugkit 3.4, I think this issue come since 3.5 version of this tool, I tried use the debugkit 3.9.3 in cakePHP 3.3.15 and the issue continue.

debugkit 3.4 work correctly with CakePHP 3.4.3.

[2017-03-25 01:43] markstory commented on #512
Pull request up now.

[2017-03-25 01:43] #512 closed

[2017-03-29 18:30] alexlambson opened #516 "Basic toolbar for production server"
I have been wondering if there is a way to get a more basic version of the toolbar on a production server.

I know I can change the debug configuration on the fly in beforefilter, but this clears the cache for all users.

It would be nice to get a basic version of the toolbar (just shows request, session, and view variables) for admin users so that I can quickly see what's going on with a page eve

[2017-03-29 20:44] saeideng commented on #516
i think you can change that times on the fly
like https://github.com/cakephp/app/blob/master/config/bootstrap.php#L94-L95
but if you use `_cake_model_` and `_cake_core_`
otherwise
you can create new cache like https://github.com/cakephp/app/blob/master/config/app.default.php#L98-L105

[2017-03-29 21:38] alexlambson commented on #516
@saeideng well, looks like it is possible to do what I am wanting to do.

So I would just throw it into debug mode when I detect and admin user and set the debug mode to use the cache?

[2017-03-30 02:37] markstory commented on #516
You can use the existing `forceEnable` config setting to force DebugKit on when debug=false. That combined with the panels configuration will let you do everything you've listed here.

[2017-03-30 02:37] #516 closed

[2017-03-30 22:17] alexlambson commented on #516
@markstory quick question. Can I set forceEnable=true at runtime? If so, how do I do that?

[2017-03-31 00:31] markstory commented on #516
It can be done during bootstrap before the plugin is loaded. You use `DebugKit.forceEnable` in Configure.

[2017-03-31 10:55] gugleboot opened #518 "Blocked loading mixed active content"
When tabs are clicked console logs:

reason: using http:// instead of https:// - some services use cloud flare and are enforcing https
causing debugging impossible
possible solution: new init option to configure https , or any form of detection of the protocol

[2017-03-31 14:23] markstory commented on #518
DebugKit uses Router::url() to generate the base url for an application. You need to make that function output the right value for your application setup. Generally this means setting the base url configuration options/constants.

Once those configuration options are correct the errors you're seeing will be resolved.

[2017-03-31 14:23] #518 closed

[2017-04-30 19:11] nhristov opened #520 "Data too long for column 'url' at row 1"
SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'url' at row 1

This often happens when using OAuth with URLs that don't fit in varchar 255

Again, fix was simple:
[code]

[2017-04-30 20:16] dereuromark commented on #520
Since URLs shouldnt be longer than 2048, isnt something before longblob possible?
longblob is 4294967295 - a normal "text" with 65000 chars should suffice, should it not?

[2017-04-30 20:20] nhristov commented on #520
Sounds legit, I've just gone ahead and made it longblob, but text should suffice indeed.

[2017-05-01 01:24] markstory commented on #520
Pull request open now.

[2017-05-01 01:26] #520 closed

[2017-05-03 14:57] hervethouzard opened #522 "Shell to empty and compact sqlite db"
Hello,

A suggestion, add a shell to empty and compact sqlite db.

[2017-05-03 16:30] markstory commented on #522
What would the shell do beyond rm tmp/debug_kit.sqlite` ?

[2017-05-04 10:58] hervethouzard commented on #522
not necessary delete the file but remove its content

[2017-05-04 12:22] ADmad commented on #522
How is that better than simply deleting the file?

[2017-05-04 12:23] hervethouzard commented on #522
Are you able to recreate it?

[2017-05-04 12:25] ADmad commented on #522
If you `tmp` directory is writable by the webserver user (which it should be`) it will be automatically recreated.

[2017-05-04 12:25] dereuromark commented on #522
Did you try it?

[2017-05-04 12:26] dereuromark commented on #522
I am :-1: on this, as deleting this simple file should be enough. DebugKit could display a warning if the file size exceed a limit of e.g. 100MB or sth.

[2017-05-04 13:29] hervethouzard commented on #522
Ok, I was not aware that the file will be recreated.
This suggestion can be ignored.

[2017-05-04 13:30] #522 closed

[2017-05-04 13:54] lorenzo commented on #522
@hervethouzard Maybe you can add that to the documentation for DebugKit in the book? I'm sure others will find it useful

[2017-05-09 12:15] saeideng opened #527 "sql log panel is empty in 3.9.5 when using history"
sql log panel is empty in v 3.9.5 when using history for post/put request
that works well in v 3.9.3

[2017-05-09 22:06] markstory commented on #527
It works fine for me locally. How can I reproduce this issue?

[2017-05-10 07:33] saeideng commented on #527
i'm sorry
my problem is related to
https://github.com/cakephp/debug_kit/pull/524

i saw variables content instead of sql log in sql log panel

[2017-05-10 07:33] #527 closed

[2017-05-10 07:33] saeideng commented on #527
thank you to fix it

[2017-05-10 18:02] markstory commented on #527
Cool :metal:

[2017-05-11 18:25] highstrike opened #528 "DebugKit breaks plugin static serving"
~~The following commit https://github.com/cakephp/debug_kit/commit/aec9876daa0515c1776db4fc59c260ead1a88d3e~~ broke the ability to serve static content from a plugin with query parameters.

(not sure if this is actually the commit that broke it because I haven't run `composer update` in a few weeks, so I might have been on 3.9.3, with cakephp 3.4.5) I am now on 3.10.1 with cakephp 3.4.6

For examp

[2017-05-11 21:03] markstory commented on #528
Thanks! I'll see if I can reproduce this issue.

[2017-05-12 01:16] markstory commented on #528
Pull request open now.

[2017-05-12 01:16] #528 closed

[2017-05-15 14:22] themrwilliams opened #530 "3.8+ has bad CakePHP version requirement"
As of 3.8.0, debug_kit uses Cake\Mailer\Mail:: getOriginalSubject() which does not exist until Cake 3.2 (IIRC), however 3.8.0+ requires cakephp/cakephp: >=3.1.0 <4.0.

So the below combination results in a broken installation of debug_kit:
"cakephp/cakephp": "~3.1.0",
"cakephp/debug_kit": "~3.0",

If debug_kit 3.8.0+ correctly required cakephp/cakephp >= 3.2.0 that would resolve the issue.  Otherw

[2017-05-15 14:33] cleptric commented on #530
This was fixed with 5ca947a352b60ec72ba31577312e331fe5f71464

[2017-05-15 14:40] themrwilliams commented on #530
Wonderful.  We didn't pull debug_kit 3.9.4 because the (fixed) requirement became cakephp 3.3.3+, but I don't know how that could be avoided when the problem is a broken dependency.

Thanks!  I'll close this.

[2017-05-15 14:40] #530 closed

[2017-06-02 10:09] ravage84 opened #532 "Remove DebugKit's Wiki"
I noticed the outdated  Wiki info through https://github.com/cakephp/app/pull/517.
So I propose to remove the current Wiki of the DebugKit.

Once removed, the confusion leading to PR cakephp/app/pull/517 should not happen again.

DebugKit for CakePHP 2.x including some documentation:
https://github.com/cakephp/debug_kit/tree/2.2
https://github.com/cakephp/debug_kit/tree/2.2#documentation

DebugKit

[2017-06-02 10:14] inoas commented on #532
Is the wiki still up to date for 2.x users?

If yes: I would place a fat orange bold deprecation warning at the top stating that the wiki is only for 2.x users and where to find the 3.x docs

[2017-06-02 10:21] ravage84 commented on #532
I would rather __move__ the configuration stuff.
The most value I see is in a centralized [roadmap](https://github.com/cakephp/debug_kit/wiki/Roadmap), if up to date, as a roadmap spans over multiple main versions, normally.

[2017-06-04 02:08] markstory commented on #532
Closing as incorrect wiki pages have been deleted, and links to the current docs for 2.x and 3.x have been added.

[2017-06-04 02:08] #532 closed

[2017-06-06 14:25] ravage84 opened #533 "Adding Intl.default_locale to Environment Panel"
Today we had an issue with the localisation of numbers. I tried to find a hint on the Environment panel. Unfortunately none of the translation/localisation relevant environment variables vere available on that panel.
So I propose to add ``Intl.default_locale`` to the Environment panel.

http://php.net/manual/en/intl.configuration.php#ini.intl.default-locale

Other variables might be nice to have,

[2017-06-06 19:25] markstory commented on #533
Sounds like a good idea. Any chance you want to send a pull request to add it?

[2017-06-06 19:42] ravage84 commented on #533
Should I just append it to the list of variables on this panel? Or anyhow different?

[2017-06-16 08:21] kiseragi opened #534 "Incompatible with PHP5.4"
Hello,

MailPanel.php has the following line which is incompatible with PHP5.4:

$reflection = new ReflectionClass(Email::class);

This should read as follows:

$reflection = new ReflectionClass(get_class(new Email));

Thanks,

[2017-06-16 08:51] ravage84 commented on #534
According to the [composer.json](https://github.com/cakephp/debug_kit/blob/3.10.2/composer.json#L26), it should be compatible to PHP 5.4.

[2017-06-16 09:02] ADmad commented on #534
If we shouldn't claim 5.4 compatibility if we are not running the test suite on 5.4

[2017-06-16 09:06] ravage84 commented on #534
Agree @ADmad , [Travis-CI Tests](https://github.com/cakephp/debug_kit/blob/master/.travis.yml#L3) only run in 5.6+

The framework itself [requires PHP 5.6](https://book.cakephp.org/3.0/en/installation.html#requirements) nowadays. Why should we provide more backwards compatibility for the DebugKit?

[2017-06-16 09:10] ADmad commented on #534
We shouldn't​ :) Just bump up php version in composer config.

[2017-06-16 09:30] ravage84 commented on #534
PR is up:
https://github.com/cakephp/debug_kit/pull/535

[2017-06-16 10:02] kiseragi commented on #534
Pls let me know if you like this closed :+1:

[2017-06-16 15:11] #534 closed

[2017-06-23 10:41] ToX82 opened #536 "Undefined variable: plugin in [..../debug_kit/src/Template/MailPreview/email.ctp, line 22]"
I'm using the (awesome) mail log panel to test some emails, but I'm having a little problems: when I use it, it throws some errors like this in my log files.

    Notice (8): Undefined variable: plugin in [/var/www/myapp/vendor/cakephp/debug_kit/src/Template/MailPreview/email.ctp, line 22]
    Request URL: /debug_kit/mail_preview/sent/1d7d96b4-3f2d-4f55-bd68-6162930a33b0/0
    Referer URL: http://

[2017-06-24 03:32] markstory commented on #536
Closing as a pull request is open now.

[2017-06-24 03:32] #536 closed

[2017-07-07 08:03] Bzounourz opened #538 "Debug kit not showing from version 3.10 (without error)"
Hello,

When I update debug_kit to version 3.10.x, it no longer appears.

No error in php or cake logs.

No errors and no loading into the Google Chrome console.

Already tried:
-Deactivate and reactivate the sqlite and pdo_sqlite extensions (when disabled, I have an error in the logs, if activated, no error, so I guess it's good on that side)
-Delete the cache and empty the / tmp folder
-Execute

[2017-07-07 10:07] ravage84 commented on #538
Have you tried with a vanilla CakePHP  3.x app?

[2017-07-10 11:35] Bzounourz commented on #538
I don't know what is a vanilla CakePHP app?
I found nothing on Google.

[2017-07-10 11:39] cleptric commented on #538
@Bzounourz I guess @ravage84 meant to create a new cakephp app via `composer create-project cakephp/app` 🙂
You typically speaking of "vanilla" if you're using a program without any thrid party dependencies.
For example, if you play Minecraft without any mods, you would say Minecraft vanilla

[2017-07-10 11:47] Bzounourz commented on #538
Thanks for the explanation!

I'll do that and come back to you.

[2017-07-12 01:11] markstory opened #539 "Add configuration option to hide schema reflection queries"
From cakephp/cakephp#10644

Instead of modifying the core query loggers, it might be cleaner to do the query log filtering in DebugKit when formatting SQL for display. Perhaps DebugKit should hide schema reflection queries by default and display them when the `verboseQueries` configuration option is enabled? Other implementations that come to mind are a client side checkbox that uses localStorage

[2017-07-12 10:43] ravage84 commented on #539
Agree, if that's feasable.

How or where this is filtered, I have no preference, yet.

[2017-07-12 14:43] markstory commented on #539
SQLPanel does some transformations on the queries to insert placeholders. We could flag queries as schema related at that point, allowing us to filter them out when the panel is rendered later.

[2017-07-12 14:44] dereuromark commented on #539
I always had to manually add some filtering in my custom SQL panel here.
Would really be nice to get this done out of the box :)

[2017-07-12 14:47] markstory commented on #539
@dereuromark Would you be looking for a way to filter out specific patterns, or just schema reflection queries?

[2017-07-12 14:49] dereuromark commented on #539
Just schema reflection and non-business relevant ones.
I often see questions why "what are all those queries" while those are just noise and not production relevant :) So those should just be filtered out. Everything else would be fine to keep.

[2017-07-20 02:08] markstory commented on #539
Closing as a pull request is open now.

[2017-07-20 02:08] #539 closed

[2017-08-01 22:43] berarma opened #541 "Email preview doesn't work with default template"
I can't get the email preview to work unless I set the template in the Preview class or in the Mailer.

I've found out the problem to be in line https://github.com/cakephp/debug_kit/blob/master/src/Mailer/PreviewResult.php#L45

This line tries to check that the Mailer doesn't already have a template set and sets the template to the method name. This fails because the ```Mailer::template()``` call

[2017-08-02 11:39] lorenzo commented on #541
Do you want to send a pull request for fixing this?

[2017-08-03 21:48] berarma commented on #541
PR is up.

[2017-08-03 21:48] #541 closed

[2017-08-25 12:55] ynaderi opened #543 "Debug kit 2.2.6 Make a redirect to debug_kit/toolbar_access/sql_explain"
## Error: DebugKitController could not be found.

I searched about it and I found that the function **explainLink** of **HtmlToolbarHelper**  helper cause this problem.

When I change `return $form;` to `return null;` it works well.

[2017-08-25 14:37] markstory commented on #543
Where are you changing that code?

[2017-08-25 14:39] markstory commented on #447
Closing as I don't know how to reproduce this and it has been a long time.

[2017-08-25 14:39] #447 closed

[2017-08-25 14:40] markstory commented on #496
Closing as I've not been able to reproduce this and the latest versions of debugkit are using middleware so events are not going to be a long term problem.

[2017-08-25 14:40] #496 closed

[2017-08-28 15:43] ynaderi commented on #543
`\app\Plugin\DebugKit\View\Helper\HtmlToolbarHelper.php `

[code]

in my project.

[2017-08-28 20:22] markstory commented on #543
Won't that hide/break the links?

[2017-08-29 02:03] markstory commented on #513
Pull request open now.

[2017-08-29 02:03] #513 closed

[2017-08-29 11:56] ynaderi commented on #543
Yes it will, but that was the fastest way that i found, because in the project we don't really need the **buttons** in the **sql log** menu of **DebugKit** to explain what happened.

[2017-08-29 22:00] markstory commented on #543
Ok. But removing the buttons is not something I'm willing to do. Why do you want to remove them?

[2017-08-30 11:41] ynaderi commented on #543
For sure not. I report this issue because you can review and correct it. I removed the buttons because they are not urgency for my project and I should fix the bug for my project.
But as I said if you search [DebugKitController could not be found](https://www.google.ca/search?q=DebugKitController+could+not+be+found&rlz=1C1GGRV_frCA752CA752&oq=DebugKitController+could+not+be+found&aqs=chrome..69i57

[2017-08-30 13:33] markstory commented on #543
But what issue do the explain links cause *you* in your application? A few of the google results looked like applications that were deploy in debug modes.

[2017-08-30 14:12] ynaderi commented on #543
My application, it goes to`myapp/debug_kit/toolbar_access/sql_explain` but if I change the debug mode to 0 it works correct.

[2017-09-01 15:40] markstory commented on #458
@Soufraz I have no idea on how to reproduce it. So it was never 'fixed'.

[2017-09-01 20:07] Soufraz commented on #458
The error appears in Cache/Engine/FileEngine.php line 130.  `$data = serialize($data);`
In my case $data has:

[code]

[2017-09-02 01:36] markstory commented on #458
Why can't a basic array be serialized?

[2017-09-02 15:59] Soufraz commented on #458
Sorry, was my bad. I am providing a specific case. I can't post right now because var_export has 107900 lines. I am searching for the specific key that thrown the error.

[2017-09-02 17:00] Soufraz commented on #458
In my case, I have in $data array (Cache/Engine/FileEngine.php line 130) 208 items with this:
[code]
I don't know exactly who is the parent key. My array in $data has 107900 lines (this amount of lines appears strange) and I couldn't identify with precision the resolution of my question.

For now I added a try catch in DebugKit and at least I can see the debug bar working perfectly.
app/Plugin/Deb

[2017-09-08 02:34] sakuraiwanaga opened #545 "Debug Kit Tool causing "Tag Error""
Hi,
I have been using this debug kit tool and works fine but recently I started using chrome plugin "HTML error checker".

I noticed there were lots of error caused by debug kit.
![2017-09-08 11 30 01](https://user-images.githubusercontent.com/18544425/30193678-76e03fe4-9489-11e7-9f87-42003cc77d69.png)

Sorry it's Japanese but most of it mentions "The tag is not closed".
I want to know if this hap

[2017-09-08 08:34] sakuraiwanaga commented on #545
Sorry, this issue was solved my cakephp support team.
Seems like I just need to turn off the debug before using the HTML tag checker.

[2017-09-08 08:34] #545 closed

[2017-09-09 15:37] DIDoS opened #548 "Empty old panel entries"
The panels table gets quite big after a while. Is there a possibility to automatically delete "old" entries?

[2017-09-09 19:07] markstory commented on #548
Yes. [Cleaning data is covered in the readme](https://github.com/cakephp/debug_kit#cleaning-storage)

[2017-09-09 19:07] #548 closed

[2017-09-12 03:08] tsmsogn commented on #447
I can confirm this.

in
PHP 5.6.30
CakePHP 2.8.3
DubugKit 2.2.4

When I tried to pass [serializer](https://github.com/schmittjoh/serializer) from controller to .ctp with `$this->set()`, it raised same error.

my code:
[code]

[2017-09-13 05:47] tsmsogn opened #549 "Error: Serialization of 'Closure' is not allowed"
I have error when I try to pass [serializer](https://github.com/schmittjoh/serializer) from controller to `.ctp` with `$this->set()`.

My environment:
[code]

My code:
[code]

Stack trace:
[code]

[2017-09-13 05:50] tsmsogn commented on #549
I think this issue is similar to #447

[2017-09-13 07:27] lorenzo commented on #549
You are using an old version of debugkit, maybe try upgrading it first?

[2017-09-13 07:27] lorenzo commented on #549
Oh, this is even with cake 2, I actually don't remember what the last version for cake 2 is

[2017-09-13 07:56] tsmsogn commented on #549
@lorenzo Thank you for your replay.

Is DebugKit 2.2.6 latest version for Cake 2 right?
I upgraded DebugKit to it, but I have same error yet.

[2017-09-13 10:22] lorenzo commented on #549
Yes, it looks like that was the last version for cake 2. If you want to try fixing it, look in this function

https://github.com/cakephp/debug_kit/blob/2.2/Controller/Component/ToolbarComponent.php#L464-L498

Try to see under what conditions that function cannot detect that you passed a closure.

[2017-09-13 11:55] tsmsogn commented on #549
Thanks, I'll try to fix it.

[2017-09-29 00:05] dereuromark opened #550 "URL to dashed"
More a cosmetic consistency change - the URLs are currently still underscored:

    /debug_kit/mail_preview

All those URLs should ideally also be the new dashed scheme:

    /debug-kit/mail-preview

etc

[2017-09-29 00:07] dereuromark commented on #476
👍 @lorenzo Any ideas here?

[2017-09-29 00:10] dereuromark opened #551 "Hide DebugKits Routes"
In the Routes tab the debug kit routes are right the first ones.
Those are usually the ones least interested in usually :)
Probably best to hide them, or at least put them to the end and display in greyish.

[2017-09-29 01:16] markstory commented on #551
Closing as a pull request is open.

[2017-09-29 01:16] #551 closed

[2017-09-29 09:45] #550 closed

[2017-09-29 09:46] dereuromark commented on #179
So yeah, focusing on project and plugin code (no debug kit and no core) then would make sense in terms of highlighting.

[2017-09-29 09:51] dereuromark opened #554 "Feature: Add dashboard"
This is what I usually do for my plugins, and it really helps to get an overview of the functionality provided and that one doesnt have to remember specific URLs or find them in the toolbar at the bottom.

So Dashboard URL entrypoint would be `/debug-kit` directly.
It contains (ideas):

- [x] Size of current DB and button to clear/reset
- [x] Link to MailPreview

We can also then piece by piece ad

[2017-09-29 18:23] markstory commented on #554
Sounds like a neat idea. This might also be a good place to explore more history as well.

[2017-10-09 08:40] davidyell opened #556 "RFC, Re-order debug bar tabs in order of most used"
# Suggestion
I think it might be helpful to re-order the tabs in the debug bar so that the ones used most often are placed first.

## Context
I have recently started using an app on my Mac called Magnet, which arranges my windows. I find with a smaller browser window the 'Variables' tab, my most used one, is off the screen and I have to scroll to reach it.

## Proposed evidence
It's actually proba

[2017-10-09 08:59] dereuromark commented on #556
Isn't this already possible using the documented https://github.com/cakephp/debug_kit/#configuration ?
By defining it there you can set your own order afaik.

[2017-10-10 12:55] ravage84 commented on #556
@davidyell

What is first? For man it would be left. For all the right-to-left people it's the opposite :trollface:
Also, for some certain panels are more important than to others.

[2017-10-10 12:57] dereuromark commented on #556
Please confirm my initial response. If this can already be configured, then we should close this.

[2017-10-10 13:23] inoas commented on #556
Problem is that on narrow browser windows the tabs to the right are just cut off.

[2017-10-10 13:51] markstory commented on #556
There are buttons to scroll through the toolbar though. We could also do a vertical toolbar in smaller layouts, but it will still overflow some of the time.

[2017-10-10 14:37] davidyell commented on #556
No, it isn't, according to the page you linked.

@ravage84 Which is why I suggested research to find out.

@markstory There are, but they do not expose the tabs completely, see the Variables tab below.

![Toolbar](https://i.imgur.com/CWsWq3m.png)

[2017-10-10 15:25] ravage84 commented on #556
How about using a burger-style menu, if the view port is too small? The selected/active menu will be the only snown next to the burger icon.

[2017-10-10 15:27] dereuromark commented on #556
OK, the problem is how `$this->config($config);` merges, it doesnt know about the assoc nature of the keys and thus merges in an order that does not support this.
If we could fix that, we would easily allow projects to specify their own "desired" order :)

As for the size, burger-style sounds good!

[2017-11-02 11:35] darxmac opened #558 "DebugKitTransport and custom methods on TransportClasses"
We have some custom mail transports, with some custom methods. When running with debug_kit and calling them in controllers, it errors out with unknown method since DebugKitTransport is injected instead of the normal Transport and returned with `$email->getTransport()`

Is there a better way to avoid this than calling

`Configure::write('DebugKit.panels', ['DebugKit.Mail' => false]);`

[2017-11-02 13:48] markstory commented on #558
Presently no. However, the DebugKitTransport could implement `__call` and forward all method calls to the decorated transport.

[2017-11-07 12:09] ADmad opened #559 "Unable to get rid of routes.php & setup routes through Application::routes() only."
I was trying out loading routes through `Application::routes()` without having `config/routes.php` and things work as expected until I loaded `DebugKit`.

The problem occurs because `DebugKitMiddleware` get's added to the queue as first middleware and when it's loading it `RoutingPanel` the routes have still not been loaded as `RoutingMiddleware` which calls `Application::routes()` has still not r

[2017-11-07 12:20] ADmad commented on #559
Forgot to mention that the problem occurs when loading serving plugin assets through `AssetMiddleware`.

[2017-11-07 12:23] ADmad commented on #559
[code]

[2017-11-07 20:09] markstory commented on #559
So static assets have the 404s?

[2017-11-08 03:15] ADmad commented on #559
No,  they have the error  shown at top followed by actual file content.

[2017-11-09 17:02] cesar128 commented on #538
Ran into the same Problem... just installed a new version and "DebugKit is loaded." on homepage. still no debug bar showing up

[2017-11-10 19:32] kyleweishaupt opened #562 "Variables tab broken when Router used in Entity classes"
Hi. I'm currently experiencing an issue with the Variables tab not opening. After some digging around I noticed DebugKit is getting a 404 error that is throwing `Cake\Routing\Exception\MissingRouteException`, causing the tab to never open.

The more specific error is `Error: A route matching "array ( 'controller' => 'Posts', 'action' => 'upload', 0 => 123, '_ext' => 'json', 'plugin' => 'DebugKit',

[2017-11-11 00:29] markstory commented on #562
Looks like the route array is inheriting the plugin key from the current request. You might want to try adding`plugin => false` to your routing array. That should resolve this, and ensure your entity URLs work in other plugins as well.

[2017-11-11 00:29] ADmad commented on #562
Adding `'plugin'=>false` to your url array should fix your problem. Without that you will get similar whenever the entity instance is created for a plugin action.

[2017-11-13 18:51] kyleweishaupt commented on #562
Thank you! Setting `plugin => false` solved the issue

[2017-11-13 18:51] #562 closed

[2017-11-21 11:29] davidyell commented on #556
Turns out I was clicking the wrong arrow!

[2017-12-01 16:58] xsyfrost opened #564 "Issues 404 latest version of debug_kit 3.11.2"
Debug_kit : 3.11.2
cakephp: 3.5.6

The routes.php are making troubles in rendering debug_kit.
This line (hereunder) are looking for the url of debug_kit in the MAIN WEBROOT folder (as in my conf of nginx the documentRoot folder is /.../app/webroot/):

Router::plugin('DebugKit', ['path' => '/debug-kit'], function (RouteBuilder $routes) {

That means debug_kit is looking for /.../app/webroot/debug_k

[2017-12-01 17:46] dereuromark commented on #564
Did you clear the cache etc?
This sounds very strange and is not reproducible here with 3.5.6.

[2017-12-01 21:59] HavokInspiration commented on #564
I had the same issue after upgrading.
I had to clear my browser cache, remove the `debug_kit` symlink already created in webroot and run `bin/cake plugin assets symlink` again for it to finally use the new JS file which contains the good iframe URL.

[2017-12-02 01:15] dereuromark commented on #564
Sounds like this is clarified. Clearing cache and fresh symlinks do the trick.

[2017-12-02 01:15] #564 closed

[2017-12-02 01:46] #114 closed

[2017-12-04 10:01] xsyfrost commented on #564
Didn't solved the trouble for me.
I deleted in /app/webroot the debug_kit folder
Then i executed bin/cake plugin assets symlink
I uses a cache killer in the browser.
As expected i got the same error
![debug_kit](https://user-images.githubusercontent.com/9862529/33546845-68d92986-d8e2-11e7-9784-d82aaa2b5c42.png)

[2017-12-04 10:14] xsyfrost commented on #564
Sorry my fault i forgot some changes i made
You can close the topic

[2017-12-14 15:32] Oxicode opened #566 "sql-formatter"
https://github.com/jdorn/sql-formatter/

[2017-12-14 19:55] markstory commented on #566
What is the goal of this issue?

[2017-12-15 09:35] tersmitten commented on #566
Probably to (fancy) format queries in the "Sql Logs" tab

[2017-12-15 13:15] lorenzo commented on #566
@tersmitten isn't that what we use already for formatting the queries? https://github.com/cakephp/debug_kit/blob/master/composer.json#L31

[2017-12-15 14:48] #566 closed

[2017-12-15 18:49] #559 closed

[2017-12-16 05:39] Tobse commented on #538
I am getting a "Missing Controller"-Exception in Cake\Routing\Exception\MissingControllerException.
"Error: Your routing resulted in Debug_kit as a controller name.
The controller name Debug_kit has not been properly inflected, and could not be resolved to a controller that exists in your application.
Ensure that your URL /debug_kit/toolbar/c024b3b6-ba4c-470d-b963-de86103aee80 is using the same in

[2017-12-16 06:32] ADmad commented on #538
@Tobse your issue sounds similar to https://github.com/cakephp/debug_kit/issues/564#issuecomment-348625432

[2017-12-20 16:24] chinpei215 opened #567 "Cannot watch template variables if Form has notEmpty() rules"
This is a (multiple allowed):

* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.5.8
* DebugKit Version: 3.11.3

### What you did

Use modelless `Form` with `notEmpty()` rule, assign it to template variables, and click the `Variables` tab of the DebugKit.

### What happened

Get `Serialization of 'Closure' is not allowed` error.

### What you expected to happen

Temp

[2017-12-20 19:49] markstory commented on #567
Looks like the `__debugInfo` of Form is returning closure instances. Perhaps we should have Form or the Validator remove the Closure instances out?

[2017-12-21 15:43] thinkingmedia commented on #476
I think this is a great idea, and was going to open a new ticket for something like this. Except my idea was to "tag" queries so that we could filter them in the SQL log.

There would be the default view of the SQL log in chronological order, but across the top would be checkboxes for each group. Unchecking a group would hide those queries from the log. It would just be a visual hiding of matching

[2017-12-21 16:29] thinkingmedia opened #568 "Ability to see SQL generated statement with parameters substituted"
_From @brettl on June 11, 2017 19:47_

* [x] enhancement

* CakePHP Version: 3.next
When running the ->sql() function on an ORM call allow the ability to see the sql statement with the parameters in the place holders.

Currently when calling sql on the ORM you will see example "where id = :c1"
allow the ability to call an example ->sql(1) or ->sql()->substituted(); and the resulting sql will now b

[2017-12-21 16:29] thinkingmedia commented on #568
_From @dereuromark on June 11, 2017 20:19_

Isn't `(string)...->sql()` casting doing this? Showing you the final SQL query that would be run?

[2017-12-21 16:29] thinkingmedia commented on #568
_From @markstory on June 12, 2017 5:17_

@dereuromark Right now there isn't a way to get the SQL query that will be executed with placeholders populated from the database layer. You can only get that information by interpolating the parameters yourself, or using a tool like debug kit.

We won't be able to chain off of `sql()`, but we could have a new method that returns the populated SQL query.

[2017-12-21 16:29] thinkingmedia commented on #568
_From @makallio85 on June 26, 2017 5:27_

+1 to this

[2017-12-21 16:29] thinkingmedia commented on #568
_From @lorenzo on June 29, 2017 13:45_

I'd like to do this for when calling `debug($query)`

[2017-12-21 16:29] thinkingmedia commented on #568
Oh I would like to work on this. I have a working example already and just need to migrate it to the debugKit.

Always including the variable bindings is *risky*. For example; some of the IN operators can be huge which makes reading the SQL difficult. So I will make this an optional feature.

[2017-12-21 17:30] thinkingmedia opened #570 "ToolbarService::injectScripts should timestamp JS file to fix caching conflicts"
I was running a previous version of DebugKit and updated to the latest. After doing this the DebugKit icon on the app's pages failed to load. Inspecting the `<iframe>` source code revealed a routing not found error which sent me down the wrong path to fix it.

My browser had cached an outdated version of `toolbar.js`. Once I cleared the cache the DebugKit bar appeared.

The `ToolbarService::inject

[2017-12-21 17:37] raul338 commented on #570
To keep cache, the query should be the version
Like this `/debug_kit/js/toolbar.js?v=3.11.3`

[2017-12-21 17:42] markstory commented on #476
Tagging queries is an interesting idea. Should the tags be an map instead of a list? That would allow us to record metadata about the queries more effectively.

[2017-12-21 18:18] thinkingmedia commented on #476
I'm  not sure that I understand, but keep in mind two tags could share same query object.

[2017-12-21 18:22] thinkingmedia commented on #570
@raul338 there isn't a way to know the version number of the plug-in at run-time. Not from what I could find. It's also not guaranteed to always work. (i.e. if a debug kit developer manually makes changes while working on a *new* version).

[2017-12-21 18:43] markstory commented on #476
Something like `$query->tags(['type' => 'schema', 'flagged' => true])` this would allow us and userland code to tag/label queries with richer information.

[2017-12-21 20:53] #568 closed

[2017-12-21 20:57] chinpei215 commented on #567
Thank you for your comment. I didn't know `DebugKit` calls `__debugInfo()`. Then it would be an idea. But first, let me try to fix this [walker](https://github.com/cakephp/debug_kit/blob/0ba4f3639c2f2637b7b4575dd4fae541d83ff3fa/src/Panel/VariablesPanel.php#L101-L152). If it ensures that the return value doesn't contain any closures, this kind of issues will no longer happen.

[2017-12-22 16:27] thinkingmedia opened #573 "Show the originating PHP file in the SQL log"
## Overview

When we execute a `pr("some data here")` to display debug messages the output includes the file path to the PHP file that generated the output.

When we look at the SQL log panel in the DebugKit we don't get the context of the query. We just know it was executed, how many results and the duration. As a programmer, I ask myself this "Why is the SQL being executed?" and I don't know the

[2017-12-22 17:51] markstory commented on #573
Query creation events will be the path of least resistance, as we already use events as a pattern. Is query object creation the important part? Is it useful to know where/when the query was *executed*?

[2017-12-22 17:55] #570 closed

[2017-12-22 17:56] thinkingmedia commented on #573
@markstory I'm having success with a trait you attach to a Table which injects a SQL comment showing the source file. This approach has the benefit where subqueries attached to a parent query contain comments of the file that created the sub-query. It's proving to be more informative than I had expected. I'll post some screenshots later showing what it looks like.

[2017-12-30 08:17] chinpei215 commented on #567
It was not so easy :disappointed: At first I was planning to replace closures with string '(closure)' recursively. But it would break objects in view variables, or runs into infinite loops if I don't take care.

[2017-12-30 15:50] markstory commented on #567
I wonder if we should try storing data that isn't the serialized variables. I don't know what that would be, but Debugger::exportVar() might be a good place to start or use as inspiration.

[2017-12-31 02:05] chinpei215 commented on #567
If we don't need to use `serialize()`, then I think the built-in `var_export()` may be a good function. It can stop when recursion detected.

[2017-12-31 05:00] markstory commented on #567
Not using `serialize()` may make expanding variable contents much harder as right now we rely on being able to traverse objects/arrays and generate the nested HTML structures. We wouldn't be able to do that with the output of `var_export()`.

[2017-12-31 06:50] chinpei215 commented on #567
Hmm. It seems to be harder than I thought. Indeed, using `var_export()` doesn't make sense as we would get `Call to undefined method Closure::__set_state()` instead of `Serialization of 'Closure' is not allowed`.

But I think traversing variable like `Debugger::exportVar()` is not a good idea either, as if the following variable is assigned, DebugKit has to export recursively until max depth:
[cod

[2018-01-01 02:08] markstory commented on #567
We could keep max-depth shallow, like 3 or 4 levels, as a way to prevent slowdowns. I don't think we'd be able to use `Debugger::exportVar()` as is, because we'd still want a way to create clickable HTML out of the variable dumps.

[2018-01-02 21:09] riddlemd opened #576 "Debug kit breaks window.postMessage with objects."
The debug  javascript files onMessage handler does not account for messages that are not strings and causes the whole onMessage stack to be tossed some times...

To fix it change line 270 in webroot\js\toolbar-app.js from:

`if (event.data.indexOf('ajax-completed$$') === 0) {`

to

`if (typeof event.data === 'string' && event.data.indexOf('ajax-completed$$') === 0) {`

[2018-01-03 03:01] markstory commented on #576
Pull request open now.

[2018-01-03 03:01] #576 closed

[2018-01-11 21:31] saeideng opened #578 "invalid request history"
sometimes you see extra request in the debug_kit that is invalid

![debug_kit_asset](https://user-images.githubusercontent.com/8215801/34848154-fb2083ac-f732-11e7-8a15-eae7a529af89.png)

also number of request history  limited to `10`
with this invalid request you lost previous request history

suggestions:
1) adding filters buttons to filter (/remove )  assets (js/css,...)
2) adding a  button to

[2018-01-12 00:25] markstory commented on #578
Are these requests handled by the asset middleware?  We could add pagination to the request history as another option.

[2018-01-12 08:24] saeideng commented on #578
[code]

this problem occur in several my apps (probably in all )
with cake 3.5, 3.4 ,....

[2018-01-12 16:38] markstory commented on #578
Ok. Are those assets coming from plugins? That would explain why cake is handling them and your webserver is not serving them directly.

[2018-01-12 19:11] saeideng commented on #578
Yep, local plugin
I use `plugins/... ` for templates

for example `plugins/BackEnd/webroot/bootstrap/css/bootstrap.min.css` for above screenshot

[2018-01-12 19:32] saeideng commented on #578
@markstory  I tested
I added `touch(time().'_.txt');` into first of  `webroot/index.php`
and I try load 2 css directly from web

I add new/fresh plugin for test
[code]

[2018-01-12 20:01] markstory commented on #578
Ok. It makes sense that debugkit would be logging asset requests as they are being handled by CakePHP. Would being able to paginate through history help solve your problem?

[2018-01-12 20:03] saeideng commented on #578
also I added
`touch(time().'_asset');` into `AssetMiddleware::__invoke()`
`touch(time().'_router');` into `RoutingMiddleware::__invoke()`

just first test (asset ) creates file

[2018-01-12 20:04] saeideng commented on #578
probably

[2018-01-12 21:12] saeideng commented on #578
can we add a flag to the request object to detecting/showing  assets from other request?
so, we can ignore those request in the debug_kit

[2018-01-12 21:23] markstory commented on #578
Could add a response header :smile:

[2018-01-16 16:21] davidyell commented on #556
I think this can be closed now, due to it mostly being user error.

[2018-01-16 16:21] #556 closed

[2018-01-30 10:35] davidyell commented on #503
We just his this issue with a brand new box, using a new Ansible script. /cc @hackzilla

[2018-01-30 10:43] dereuromark commented on #503
Anyone willing to PR the suggested improvement?

[2018-02-07 16:31] allanmcarvalho opened #581 "Translate"
It would be very cool if all the phrases contained in the debug were in the I18N translation standard. When I start a project I always translate debug_kit, but it always stays in the middle because a lot of it does not use functions like __ ("") and __d ().

Please!

[2018-02-07 16:33] dereuromark commented on #581
Why would you need that for a debugging tool? All other things for local dev are also not translated - and shouldn't be (necessary) IMO.

[2018-02-07 16:35] dereuromark commented on #581
The energy here is much better spent on e.g. fixing a few open issues/tickets https://github.com/cakephp/debug_kit/issues for example.
Functional completeness/correctness outweighs here any sugar like having the debugging tool spit out some translated stuff (some as in almost nothing, as most exceptions and other things are still all always in English by the way).

[2018-02-07 16:54] allanmcarvalho commented on #581
Well, I do not need to do the translation, whoever wants to translate the .po file ... But anyway I think the plugin should completely use the I18N or completely not to use it... This is kind of bang. Lack of standardization.

[2018-02-07 17:04] markstory commented on #581
@allanmcarvalho Any chance you'd be able to help add translation functions in the places it is missing?

[2018-02-07 17:06] dereuromark commented on #581
@allanmcarvalho I agree. But then it would probably make sense to remove all i18n, as we do for Core exception and debugging messages/tools.

[2018-02-07 17:16] allanmcarvalho commented on #581
@markstory Yes I can. Which branch should I make the fork? The Master?

@dereuromark I think the following way, as the i18n is optional, that is, it translates who they want otherwise it shows the original message. I think it's worth implementing. We are talking about an open source project where the use is very widespread and varied ... A use for translation? How about a teacher in college? He co

[2018-02-07 18:15] markstory commented on #581
@allanmcarvalho Master is good :+1:

[2018-02-07 22:22] dereuromark commented on #581
https://github.com/cakephp/debug_kit/pull/582 opened

[2018-02-07 22:22] #581 closed

[2018-02-18 20:05] #533 closed

[2018-02-19 12:43] highstrike opened #585 "Current release (3.14.0) is broken with syntax errors"
The pull request #582 introduced syntax errors everywhere.

Therefore the tabs Cache, Mail and Packages are no longer working.

@allanmcarvalho did you even TEST the changes before submitting the pull request? Travis couldn't catch them because it doesn't test `.ctp` files.

[2018-02-19 12:53] dereuromark commented on #585
I was strongly against the PR for exactly that - and other - reasons.
It only creates problems, and doesn't solve an actual one.

True, travis was green ( https://travis-ci.org/cakephp/debug_kit/builds/339058933?utm_source=github_status&utm_medium=notification ).
We can revert IMO.

[2018-02-19 12:56] dereuromark commented on #585
Is it solved with https://github.com/cakephp/debug_kit/pull/586 ?
Then you can close this one here.

[2018-02-19 12:57] allanmcarvalho commented on #585
Look ... I'm no genius, sometimes I make mistakes, especially when ignoring tests. I'm sorry ... Sorry. There was a small syntax error, nothing related to the implementation of I18n. I already did the pull request that solves them ....

Once again, I'm sorry.!

[2018-02-19 12:57] dereuromark commented on #585
Thank you for the quick response and fix @allanmcarvalho

[2018-02-19 12:58] ADmad commented on #585
Closing as related PR is open.

[2018-02-19 12:58] #585 closed

[2018-02-19 12:58] allanmcarvalho commented on #585
I thank you for understanding.

[2018-02-19 13:02] tersmitten commented on #585
Maybe it's useful to add something like this to `.travis.yml`:

[code]

[2018-02-19 13:02] highstrike commented on #585
@allanmcarvalho nobody has to be a genius to TEST what you actually changed and see if its still working

Quick fix but incomplete, i've put my own pull request with errors found by my IDE.

@dereuromark i'm :thumbsup: for a revert, this was quite pointless

[2018-02-19 13:04] dereuromark commented on #585
@tersmitten Give it a shot in travis as PR.

[2018-02-19 13:04] ADmad commented on #585
Everyone makes mistakes, one way to avoid them is not make pointless changes. :slightly_smiling_face:

[2018-02-19 15:16] markstory commented on #585
I apologize for tagging a broken release. That is on me, I should have checked the code before tagging the release.

[2018-03-02 22:27] gemal opened #591 "A non well formed numeric value encountered"
[code]

version 2.2.6 on php 7.1

[2018-03-02 22:30] dereuromark commented on #591
You should also post the actual value that causes this.

[2018-03-02 22:37] gemal commented on #591
The problem is this line:
`$graphValue = ($value / $max) * $width;`

`$value` is '16.89'
note that 16.89 is a string not a int

The same goes for this line:
`$graphOffset = ($offset / $max) * $width;`

adding `(int)` in both places fixes the warning